<?php
/**
 * Copyright © 2015 tokitheme.com. All rights reserved.

 * @author Blue Sky Team <contact@tokitheme.com>
 */
 
if($this->getConfig('enable_frontend')):
$testimonials = $this->getTestimonial();
?>

	<?php
	$bg_img = $this->getConfig('bg_image_testimonal');
	$_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
	$storeManager = $_objectManager->get('Magento\Store\Model\StoreManagerInterface'); 
	$currentStore = $storeManager->getStore();
	$mediaUrl = $currentStore->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
	$in_style = '';
	if($bg_img != ''){
		$in_style = 'style="background-image: url('.$mediaUrl.'rokanthemes/testimonialbackground/'.$bg_img.');"';
	}
	$auto = $this->getConfig('auto');
	if($auto)
		$auto = 'true';
	else
		$auto = 'false';
	$qty = $this->getConfig('qty');
	$title = $block->getConfig('title');
	$des = $block->getConfig('des');
	$default = $this->getConfig('default');
	$desktop = $this->getConfig('desktop');
	$desktop_small = $this->getConfig('desktop_small');
	$tablet = $this->getConfig('tablet');
	$mobile = $this->getConfig('mobile');
	$rows = (int)$this->getConfig('rows', 1);
	$show_description = $this->getConfig('show_description');
	$show_next_back = $this->getConfig('show_next_back');
	$pagination = $this->getConfig('pagination');
	$speed = $this->getConfig('speed');
	if($show_next_back)
		$show_next_back = 'true';
	else
		$show_next_back = 'false';
	$show_navigation_control = $this->getConfig('show_navigation_control');
	if($show_navigation_control)
		$show_navigation_control = 'true';
	else
		$show_navigation_control = 'false';
	?>
<section class="testimo-slider">
<div class="pt-testimonial-container" <?php echo $in_style; ?>>
	<?php if( $title ): ?>
		<div class="rokan-product-heading">
			<h2><?php echo $title; ?></h2>
		</div>
	<?php endif; ?>
	<?php $i = 0; ?>
	<div class="owl-container">	
	   <ul class="ptowl"> 
		<?php foreach ($testimonials as $testimonial): ?>	
			<?php $url_image = $this->getMediaFolder().$testimonial['avatar']; ?>
			
			<?php if($i < $qty): ?>
				<?php if($i%$rows == 0): ?>
					<li>
				<?php endif; ?>
					<div class="pt-testimonial">
						<div class="content-tes">
							<div class="image-tes">
								<img width="100" height="100" alt="<?php echo $testimonial['name'] ?>" src="<?php echo $url_image; ?>"/>
							</div>
							<div class="info">
								<p class="name">
									<?php echo $testimonial['name']; ?>		
								</p>
								<p class="job"><?php echo $testimonial['job']; ?></p>
							</div>		
							<div class="content-des-tes">
								<?php echo $testimonial['testimonial']; ?>
							</div>
						</div>
						
					</div>
				<?php if($i%$rows == ($rows - 1)): ?>
					</li>  
				<?php endif; ?>    
			<?php endif; ?>
			<?php $i++; ?> 
		<?php endforeach; ?>
			<?php if($i%$rows != $rows): ?>
				
			<?php endif; ?>  
		</ul>
	</div>
</div>
</section>
<script type="text/javascript">
require(['jquery','rokanthemes/owl'], function ($) {
		jQuery(".pt-testimonial-container .ptowl").owlCarousel({
			<?php
				if(($auto== 'true') && $speed):
			?>
			autoPlay : <?php echo $speed; ?>,
			<?php
				endif;
			?>
			items : <?php echo $default; ?>,
			itemsDesktop : [1199,<?php echo $desktop; ?>],
			itemsDesktopSmall : [980,<?php echo $desktop_small; ?>],
			itemsTablet: [768,<?php echo $tablet; ?>],
			itemsMobile : [479,<?php echo $mobile; ?>],
			slideSpeed : 500,
			paginationSpeed : 500,
			rewindSpeed : 500,
			addClassActive: true,
			navigation : <?php echo $show_next_back; ?>,
			stopOnHover : true,
			pagination : <?php echo $show_navigation_control; ?>,
			scrollPerPage:true,
		});
	}
);
</script>
<?php endif; ?>