<?php 
	$enable = $block->getConfig('enabled');
	if($enable < 1) return ; 
	$title = $block->getTitle();
	$categoryIds = $block->getCategoryIds();
	$categoryIds = explode(',', $categoryIds);
	$description= $block->getDescription(); 
?>
<div class="categories-thumbnails">
	<div class="row">
		<?php 
			if(count($categoryIds) > 0):
				foreach($categoryIds as $key => $cate_id):
		?>
		<div class="col-md-3 col-sm-3 col-xs-6 col-thumb">
			<div class="popcat-box">
				<?php 
					$cate_model =  $block->getCategory($cate_id);
					$subCate = $block->getCategoryList($cate_model->getChildren());
			   	?>
			   	<a href="<?php echo $cate_model->getUrl() ?>">
			    	<img src="<?php echo $this->helper('Rokanthemes\Categorytab\Helper\Data')->getThumbnailImageUrl($cate_model) ?>" alt="<?php echo $cate_model->getName() ?>" />
			    </a>
			    <div class="cat-name">
					<h3><a href="<?php echo$cate_model->getUrl() ?>"><?php echo $cate_model->getName() ?></a></h3>
				</div>
				<ul class="sub-categories">
			   		<?php foreach ($subCate as $key => $value): ?>
						<li><a href="<?php echo $value->getUrl(); ?>"><?php echo $value->getName(); ?></a></li>
			   		<?php endforeach; ?>
			    </ul>
			    <div class="link-all">
			    	<a href="<?php echo $cate_model->getUrl() ?>"><?php echo __('View All'); ?></a>
			    </div>
			</div>
		</div>
		<?php 
				endforeach;
			endif;
		?>
	</div>
</div>
