<?php 
	use Magento\Framework\App\Action\Action;
	$_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
	$storeManager = $_objectManager->get('Magento\Store\Model\StoreManagerInterface'); 
	$enable = $block->getConfig('enabled');
	if($enable < 1) return ; 
	$items = $block->getConfig('items');
	$speed = $block->getConfig('speed');
	$qty = $block->getConfig('qty');
	$showCart = $block->getConfig('addtocart');
	$showWishlist = $block->getConfig('wishlist');
	$showCompare = $block->getConfig('compare');
	$show_navigation = $block->getConfig('navigation');
	$show_pagination = $block->getConfig('pagination');
	$auto = $block->getConfig('auto');
	$rows = 2;
	$slide_limit = $block->getSlideLimit();
	$title = $block->getTitle(); 
	$description= $block->getDescription(); 
	$identify = trim($block->getIdentify()); 
	$categoryIds = $block->getCategoryIds();
	$categoryIds = explode(',', $categoryIds);	
	$desktop = $this->getConfig('itemsDesktop');
	$desktop_small = $this->getConfig('itemsDesktopSmall');
	$tablet = $this->getConfig('itemsTablet');
	$mobile = $this->getConfig('itemsMobile');
?>

<div class="categorytab-container">
	<header class='group-title1'>
		<?php echo '<h2>'.$title.'</h2>'; ?>
		<?php echo '<p class="description">'.$description.'</p>'; ?>
	</header>
  <ul class="tabs tabs<?php echo '-'.$identify;?>"> 
   <?php 
	$k = 0;
	foreach($categoryIds as $cate_id) {
		$newItems =  $block -> getProductCate($cate_id)->getItems();
		$cate_model =  $block->getCategory($cate_id);
		$category_load = $cate_model->load($cate_id);
		$rt_menu_icon_img = $cate_model->getData('rt_menu_icon_img');
		$pathicon = $storeManager->getStore()->getBaseUrl(
                        \Magento\Framework\UrlInterface::URL_TYPE_MEDIA
                ) . 'catalog/category/' . $rt_menu_icon_img;
		$cateName = $category_load->getName();
		if($cateName) {
   ?>
			<li class="<?php if($k==0){ echo "active"; }?>" rel="tab<?php echo $cate_id.'-'.$identify;?>">
				<a href="#">
					<?php if ( $rt_menu_icon_img ): ?>
					<img class="menu-thumb-icon" src="<?php echo $pathicon; ?>" alt="<?php echo $cateName; ?>" />
					<?php endif; ?>
					<?php  echo $cateName; ?>
				</a>
				<span class="ammount-items"><?php echo $category_load->getProductCount(); ?></span>
			</li>
	<?php }  $k++; } ?>
    </ul>
     <?php 
		
		$imageBlock =  $block->getLayout()->createBlock('Magento\Catalog\Block\Product\Image');
		$image = 'category_page_grid_m';
		$type = 'widget-new-grid';
		$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::DEFAULT_VIEW;
	?>
	<div class="row1">
		<div class="tab_container"> 
		<?php foreach($categoryIds as $cate_id) { 
			$cate_model =  $block->getCategory($cate_id);
			$cateName = $cate_model->load($cate_id)->getName();
			$cateUrl = $cate_model->load($cate_id)->getUrl();
		?>
		<div id="tab<?php echo $cate_id.'-'.$identify;?>" class="tab_content_<?php echo $identify; ?> shop-products"> 
		<div class="owl-container">		
			<div class="category_tab_slider owl-carousel">
				<?php 
				$newItems =  $block -> getProductCate($cate_id)->getItems(); 
				$i=0;
				foreach($newItems as $_item) { 
					$productImage = $block->getImage($_item, $image);
				?>
				<?php if($i++%$rows==0) { ?> <div class="product-item-group"> <?php } ?>
					<div class="product-item">
						<div class="product-photo">
							<a href="<?php /* @escapeNotVerified */ echo $_item->getProductUrl() ?>" class="product-thumb-link">
								<?php $productImageThumb = $block->getImage($_item, 'category_page_grid-1-m');?>
								<span class="image0 image-switch">
									<?php echo $productImage->toHtml(); ?>
								</span>
								<span class="image1 image-switch">
									<?php echo $productImageThumb->toHtml(); ?>
								</span>
							</a>			
							<?php if ($this->helper('Rokanthemes\QuickView\Helper\Data')->isEnable()){ ?>
								<div class="quickview-product visible-onhover">
									<a data-role="quickview-button" data-id="<?php echo $_item->getId(); ?>" href="<?php echo $block->getUrl('quickview/product/quickview/id/' . $_item->getId()) ?>" title="" class="ajax diamond tooltip-hover" data-placement="top" data-original-title="<?php echo ('Quick View') ?>">
											<i class="lnr lnr-move"></i>
										</a>
							    </div>			
							<?php } ?>			
							<div class="product-label">
								<?php if ( $_item->getFinalPrice() < $_item->getPrice() ): ?>
									<span class="onsale">
										<span class="sale-bg"></span>
										<span class="sale-text"><?php echo __('Sale') ?></span>
									</span>
								<?php endif; ?>
								<?php $todayDate = time(); 
									$timeStartNew = strtotime($_item->getData('news_from_date'));
									$timeEndNew = strtotime($_item->getData('news_to_date')); ?>
								<?php if ( $timeEndNew >= $todayDate && $timeStartNew <= $todayDate): ?>
									<span class="newlabel">
										<span><?php echo __('New') ?></span>
									</span>
								<?php endif; ?>
							</div>							
						</div>
						<div class="product-info">
							<div class="product-name">
								<strong class="product-item-name">
									<a title="<?php echo $block->escapeHtml($_item->getName()) ?>"
									   href="<?php echo $block->getProductUrl($_item) ?>"
									   class="product-item-link">
										<?php echo $block->escapeHtml($_item->getName()) ?>
									</a>
								</strong>
							</div>
							<?php if ($templateType): ?>
								<?php echo $block->getReviewsSummaryHtml($_item, $templateType,true); ?>
							<?php endif; ?>
							 <?php
								echo $block->getProductPrice($_item);
							 ?>

							<div class="actions-primary"> 
								<?php if ($showWishlist ): ?>
									<div class="action-wishlist visible-onhover">
										<a href="#"
										   data-post='<?php echo $block->getAddToWishlistParams($_item); ?>'
										   class="action towishlist" data-action="add-to-wishlist"
										   title="<?php echo __('Add to Wishlist') ?>">
											<i class="lnr lnr-heart"></i>
										</a>
									</div>
								<?php endif; ?>	
								<?php if ($_item->isSaleable()): ?>
									<?php
									  $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
									  $postData = $postDataHelper->getPostData($block->getAddToCartUrl($_item), ['product' => $_item->getEntityId()]);
									  $postParams = json_decode($postData, true);
									?>
									<?php if ($showCart): ?>
									<div class="action-add-cart">
										<form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
										  <input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
										  <input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
										  <?php echo $block->getBlockHtml('formkey')?>
										  <button type="submit"
											  title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
											  class="action tocart">
											<span><?php echo __('Add to Cart') ?></span>
										  </button>
										</form>
									</div>
									<?php endif; ?>
								<?php else: ?>
									<?php if ($_item->getIsSalable()): ?>
										<div class="stock available"><span><?php echo __('In stock') ?></span></div>
									<?php else: ?>
										<div class="stock unavailable"><span><?php echo __('Out of stock') ?></span></div>
									<?php endif; ?>
								<?php endif; ?>

								<?php
									$compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
								?>
								<div class="action-compare visible-onhover">
									<a href="#"
									   class="action button tocompare"
									   title="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
									   aria-label="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
									   data-post='<?php /* @escapeNotVerified */ echo $compareHelper->getPostDataParams($_item); ?>'
									   role="button">
										<i class="lnr lnr-layers"></i>
									</a>
								</div>
							</div>
							
						</div>
					</div>
						<?php if($i%$rows==0 || $i == count($newItems)) { ?> </div> <?php }?>
				<?php 
				}
				?>
			</div>
		</div>	
			
		</div><!-- #tab1 -->
		<?php }?>

		</div> <!-- .tab_container --> 
	</div>
</div>
<?php if (!$block->isRedirectToCartEnabled()) : ?>
	<script type="text/x-magento-init">
	{
		"[data-role=tocart-form], .form.map.checkout": {
			"catalogAddToCart": {}
		}
	}
	</script>
<?php endif; ?>
<script type="text/javascript">
require([
	'jquery',
	'mage/mage',
	'rokanthemes/owl',
	'rokanthemes/lazyloadimg'
], function ($) {
	'use strict';

	jQuery(".tab_content_<?php echo $identify; ?>").hide();
	jQuery(".tab_content_<?php echo $identify; ?>:first").show(); 

	jQuery("ul.tabs<?php echo '-'.$identify;?> li a").click(function() {
		jQuery("ul.tabs<?php echo '-'.$identify;?> li").removeClass("active");
		jQuery(this).closest('li').addClass("active");
		jQuery(".tab_content_<?php echo $identify; ?>").hide();
		var activeTab = $(this).closest('li').attr("rel"); 
		jQuery("#"+activeTab).fadeIn();
		$("img.lazy").lazyload({
			skip_invisible: false
		});
		return false;
	});
	
	 jQuery(".tab_content_<?php echo $identify; ?> .category_tab_slider").owlCarousel({
		lazyLoad:true,
		autoPlay : <?php if($auto) echo 'true'; else echo 'false'; ?>,
		slideSpeed : <?php if($speed) echo $speed; else echo '500'; ?>,
		navigation : <?php if($show_navigation) echo 'true'; else echo 'false'; ?>,
		stopOnHover : true,
		pagination : <?php if($show_pagination) echo 'true'; else echo 'false'; ?>,
		items : <?php echo $slide_limit; ?>,
		itemsDesktop : [1260,<?php echo $desktop; ?>],
		itemsDesktopSmall : [1024,<?php echo $desktop_small; ?>],
		itemsTablet: [780,<?php echo $tablet; ?>],
		itemsMobile : [479,<?php echo $mobile; ?>],
	});
	
});
 

</script> 
