<?php
/*
* Logo Colors options
*
*/
?>
<div class="field logo-colors front-color bulk">
    <label class="label"><span>How Many Color(s) is Your Logo on the Front?</span></label>
    <div class="control">
        <div class="radio inline" data-title="front" style="">
            <input class="" type="radio" name="front_color" value="1" disabled="disabled">
            <span> 1 </span>
        </div>
        <div class="radio inline" data-title="front" style="">
            <input class="" type="radio" name="front_color" value="2" disabled="disabled">
            <span> 2 </span>
        </div>
        <div class="radio inline" data-title="front" style="">
            <input class="" type="radio" name="front_color" value="3" disabled="disabled">
            <span> 3 </span>
        </div>
        <div class="radio inline" data-title="front" style="">
            <input class="" type="radio" name="front_color" value="4 or more" disabled="disabled">
            <span> 4 or More </span>
        </div>
        <div class="radio inline" data-title="front" >
            <input class="" type="radio" name="front_color" value="Includes Full Color Imprint" disabled="disabled">
            <span>Includes Full Color Imprint</span>
        </div>
    </div>
    <div class="vendor-imprint-colors front-imprint-colors" style="display: none;">
        <span>Choose Your Imprint Color(s) </span>
        <input type="text" class="color-sort" placeholder="Type the Color You Want Here" />
        <div class="row">
            <div class="col-md-6 vendor-colors">
                <?php echo $block->getLayout()
                    ->createBlock('Magento\Catalog\Block\Product\View')
                    ->setTemplate('Magento_Catalog::product/view/bulk/options/vendor_color_list.phtml')
                    ->toHtml(); 
                ?>
            </div>
            <div class="col-md-6">
                <div class="imprint-color imprinted-color-1 chooseColor " id="front_imprint_color1" style="">
                    <span class="color-name"><span>Color 1:</span></span>
                    <span title="" class="color_imprint imprintcolor1">
                        <input type="hidden" name="color_first" class="required-entry input_color_first"
                            id="color_first" value="">
                    </span>
                    <span style="margin-left:6px;color:blue;" class="resetcolor" data-rel="imprintcolor1"
                        data-inputclass="input_color_first" data-devid="front_imprint_color1">Change Color</span>
                </div>
                <div class="imprint-color imprinted-color-2 chooseColor " id="front_imprint_color2" style="">
                    <span class="color-name"><span>Color 2:</span></span>
                    <span title="" class="color_imprint imprintcolor2">
                        <input type="hidden" name="color_second" class="required-entry input_color_second"
                            id="color_second" value="">
                    </span>
                    <span style="margin-left:6px;color:blue;" class="resetcolor" data-rel="imprintcolor2"
                        data-inputclass="input_color_second" data-devid="front_imprint_color2">Change Color</span>
                </div>
                <div class="imprint-color imprinted-color-3 chooseColor " id="front_imprint_color3" style="">
                    <span class="color-name"><span>Color 3:</span></span>
                    <span title="" class="color_imprint imprintcolor3">
                        <input type="hidden" name="color_third" class="required-entry input_color_third"
                            id="color_third" value="">
                    </span>
                    <span style="margin-left:6px;color:blue;" class="resetcolor" data-rel="imprintcolor3"
                        data-inputclass="input_color_third" data-devid="front_imprint_color3">Change Color</span>
                </div>
            </div>
        </div>
    </div>
</div>
<?php /* Back Color options */ ?>
<div class="field logo-colors back-color" style="display:none;">
    <label class="label"><span>How Many Color(s) is Your Logo on the Back?</span></label>
    <div class="control">
        <div class="radio inline" data-title="back" style="">
            <input class="" type="radio" name="back_color" value="1">
            <span> 1 </span>
        </div>
        <div class="radio inline" data-title="back" style="">
            <input class="" type="radio" name="back_color" value="2">
            <span> 2 </span>
        </div>
        <div class="radio inline" data-title="back" style="">
            <input class="" type="radio" name="back_color" value="3">
            <span> 3 </span>
        </div>
        <div class="radio inline" data-title="back" style="">
            <input class="" type="radio" name="back_color" value="4 or more">
            <span> 4 or More </span>
        </div>
        <div class="radio inline" data-title="back" style="display: none;">
            <input class="" type="radio" name="back_color" value="Includes Full Color Imprint" disabled="disabled">
            <span>Includes Full Color Imprint</span>
        </div>
    </div>
    <div class="vendor-imprint-colors back-imprint-colors" style="display: none;">
        <span>Choose Your Imprint Color(s) </span>
        <input type="text" class="color-sort" placeholder="Type the Color You Want Here" />
        <div class="row">
            <div class="col-md-6 vendor-colors">
                <?php echo $this->getLayout()
                    ->createBlock('Magento\Catalog\Block\Product\View')
                    ->setTemplate('Magento_Catalog::product/view/bulk/options/vendor_color_list.phtml')
                    ->toHtml(); 
                ?>
            </div>
            <div class="col-md-6">
                <div class="imprint-color imprinted-color-1 chooseColor" id="back_imprint_color1" style="">
                    <span class="color-name"><span>Color 1:</span></span>
                    <span title="" class="color_imprint imprintcolor1">
                        <input type="hidden" name="back_color_first" class="required-entry input_color_first"
                            id="back_color_first" value="">
                    </span>
                    <span style="margin-left:6px;color:blue;" class="resetcolor" data-rel="imprintcolor1"
                        data-inputclass="input_color_first" data-devid="back_imprint_color1">Change Color</span>
                </div>
                <div class="imprint-color imprinted-color-2 chooseColor" id="back_imprint_color2" style="">
                    <span class="color-name"><span>Color 2:</span></span>
                    <span title="" class="color_imprint imprintcolor2">
                        <input type="hidden" name="back_color_second" class="required-entry input_color_second"
                            id="back_color_second" value="">
                    </span>
                    <span style="margin-left:6px;color:blue;" class="resetcolor" data-rel="imprintcolor2"
                        data-inputclass="input_color_second" data-devid="back_imprint_color2">Change Color</span>
                </div>
                <div class="imprint-color imprinted-color-3 chooseColor enabled" id="back_imprint_color3" style="">
                    <span class="color-name"><span>Color 3:</span></span>
                    <span title="" class="color_imprint imprintcolor3">
                        <input type="hidden" name="back_color_third" class="required-entry input_color_third"
                            id="back_color_third" value="">
                    </span>
                    <span style="margin-left:6px;color:blue;" class="resetcolor" data-rel="imprintcolor3"
                        data-inputclass="input_color_third" data-devid="back_imprint_color3">Change Color</span>
                </div>
            </div>
        </div>
    </div>
</div>
<?php /* Side One Color options */ ?>
<div class="field logo-colors side1-color" style="display:none;">
    <label class="label"><span>How Many Color(s) is Your Logo on the Side1?</span></label>
    <div class="control">
        <div class="radio inline" data-title="side1" style="">
            <input class="" type="radio" name="side1_color" value="1">
            <span> 1 </span>
        </div>
        <div class="radio inline" data-title="side1" style="">
            <input class="" type="radio" name="side1_color" value="2">
            <span> 2 </span>
        </div>
        <div class="radio inline" data-title="side1" style="">
            <input class="" type="radio" name="side1_color" value="3">
            <span> 3 </span>
        </div>
        <div class="radio inline" data-title="side1" style="">
            <input class="" type="radio" name="side1_color" value="4 or more">
            <span> 4 or More </span>
        </div>
        <div class="radio inline" data-title="side1" style="display: none;">
            <input class="" type="radio" name="side1_color" value="Includes Full Color Imprint" disabled="disabled">
            <span>Includes Full Color Imprint</span>
        </div>
    </div>
    <div class="vendor-imprint-colors side1-imprint-colors" style="display: none;">
        <span>Choose Your Imprint Color(s) </span>
        <input type="text" class="color-sort" placeholder="Type the Color You Want Here" />
        <div class="row">
            <div class="col-md-6 vendor-colors">
                <?php echo $this->getLayout()
                    ->createBlock('Magento\Catalog\Block\Product\View')
                    ->setTemplate('Magento_Catalog::product/view/bulk/options/vendor_color_list.phtml')
                    ->toHtml(); 
                ?>
            </div>
            <div class="col-md-6">
                <div class="imprint-color imprinted-color-1 chooseColor" id="side1_imprint_color1" style="">
                    <span class="color-name"><span>Color 1:</span></span>
                    <span title="" class="color_imprint imprintcolor1">
                        <input type="hidden" name="side1_color_first" class="required-entry input_color_first"
                            id="side1_color_first" value="">
                    </span>
                    <span style="margin-left:6px;color:blue;" class="resetcolor" data-rel="imprintcolor1"
                        data-inputclass="input_color_first" data-devid="side1_imprint_color1">Change Color</span>
                </div>
                <div class="imprint-color imprinted-color-2 chooseColor" id="side1_imprint_color2" style="">
                    <span class="color-name"><span>Color 2:</span></span>
                    <span title="" class="color_imprint imprintcolor2">
                        <input type="hidden" name="side1_color_second" class="required-entry input_color_second"
                            id="side1_color_second" value="">
                    </span>
                    <span style="margin-left:6px;color:blue;" class="resetcolor" data-rel="imprintcolor2"
                        data-inputclass="input_color_second" data-devid="side1_imprint_color2">Change Color</span>
                </div>
                <div class="imprint-color imprinted-color-3 chooseColor" id="side1_imprint_color3" style="">
                    <span class="color-name"><span>Color 3:</span></span>
                    <span title="" class="color_imprint imprintcolor3">
                        <input type="hidden" name="side1_color_third" class="required-entry input_color_third"
                            id="side1_color_third" value="">
                    </span>
                    <span style="margin-left:6px;color:blue;" class="resetcolor" data-rel="imprintcolor3"
                        data-inputclass="input_color_third" data-devid="side1_imprint_color3">Change Color</span>
                </div>
            </div>
        </div>
    </div>
</div>
<?php /* Side Two Color options */ ?>
<div class="field logo-colors side2-color" style="display:none;">
    <label class="label"><span>How Many Color(s) is Your Logo on the Side2?</span></label>
    <div class="control">
        <div class="radio inline" data-title="side2" style="">
            <input class="" type="radio" name="side2_color" value="1">
            <span> 1 </span>
        </div>
        <div class="radio inline" data-title="side2" style="">
            <input class="" type="radio" name="side2_color" value="2">
            <span> 2 </span>
        </div>
        <div class="radio inline" data-title="side2" style="">
            <input class="" type="radio" name="side2_color" value="3">
            <span> 3 </span>
        </div>
        <div class="radio inline" data-title="side2" style="">
            <input class="" type="radio" name="side2_color" value="4 or more">
            <span> 4 or More </span>
        </div>
        <div class="radio inline" data-title="side2" style="display: none;">
            <input class="" type="radio" name="side2_color" value="Includes Full Color Imprint" disabled="disabled">
            <span>Includes Full Color Imprint</span>
        </div>
    </div>
    <div class="vendor-imprint-colors side2-imprint-colors" style="display: none;">
        <span>Choose Your Imprint Color(s) </span>
        <input type="text" class="color-sort" placeholder="Type the Color You Want Here" />
        <div class="row">
            <div class="col-md-6 vendor-colors">
                <?php echo $this->getLayout()
                    ->createBlock('Magento\Catalog\Block\Product\View')
                    ->setTemplate('Magento_Catalog::product/view/bulk/options/vendor_color_list.phtml')
                    ->toHtml(); 
                ?>
            </div>
            <div class="col-md-6">
                <div class="imprint-color imprinted-color-1 chooseColor" id="side2_imprint_color1" style="">
                    <span class="color-name"><span>Color 1:</span></span>
                    <span title="" class="color_imprint imprintcolor1">
                        <input type="hidden" name="side2_color_first" class="required-entry input_color_first"
                            id="side2_color_first" value="">
                    </span>
                    <span style="margin-left:6px;color:blue;" class="resetcolor" data-rel="imprintcolor1"
                        data-inputclass="input_color_first" data-devid="side2_imprint_color1">Change Color</span>
                </div>
                <div class="imprint-color imprinted-color-2 chooseColor" id="side2_imprint_color2" style="">
                    <span class="color-name"><span>Color 2:</span></span>
                    <span title="" class="color_imprint imprintcolor2">
                        <input type="hidden" name="side2_color_second" class="required-entry input_color_second"
                            id="side2_color_second" value="">
                    </span>
                    <span style="margin-left:6px;color:blue;" class="resetcolor" data-rel="imprintcolor2"
                        data-inputclass="input_color_second" data-devid="side2_imprint_color2">Change Color</span>
                </div>
                <div class="imprint-color imprinted-color-3 chooseColor" id="side2_imprint_color3" style="">
                    <span class="color-name"><span>Color 3:</span></span>
                    <span title="" class="color_imprint imprintcolor3">
                        <input type="hidden" name="side2_color_third" class="required-entry input_color_third"
                            id="side2_color_third" value="">
                    </span>
                    <span style="margin-left:6px;color:blue;" class="resetcolor" data-rel="imprintcolor3"
                        data-inputclass="input_color_third" data-devid="front_imprint_color3">Change Color</span>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
require([
    'jquery',
    'mage/mage'
], function($) {
    'use strict';
    /* show vendor color list and colors input field depend on logo color's value. */
    jQuery('.logo-colors input[type="radio"]').on('click', function() {
        var colorVal = jQuery(this).val();
        var parent = jQuery(this).parents('.logo-colors');
        if (colorVal <= 3) {
            parent.find('.vendor-imprint-colors').show();
            parent.find('.imprint-color').removeClass('enabled');
            parent.find('.imprint-color').addClass('disabled');
            parent.find('.imprint-color').hide();

            parent.find('.imprint-color').each(function(index, element) {
                jQuery(element).addClass('enabled');
                jQuery(element).removeClass('disabled');
                jQuery(element).show();
                if (index + 1 == colorVal) {
                    return false;
                }
            });
        } else { /* Hide and remove value of disabled element when we click '4 or more' option */
            parent.find('.vendor-imprint-colors').hide();
            parent.find('.imprint-color input[type="hidden"]').val('');
            parent.find('.imprint-color span.title').remove();
            parent.find('.imprint-color span.color_imprint').removeAttr('title style');
        }
        /* Remove value of disabled element */
        if (parent.find('.imprint-color').hasClass('disabled')) {
            parent.find('.imprint-color.disabled input[type="hidden"]').val('');
            parent.find('.imprint-color.disabled span.title').remove();
            parent.find('.imprint-color.disabled span.color_imprint').removeAttr('title style');
        }

    });
    /* set colors of imprint from multicolor list */
    jQuery('.vendor-colors span').on('click', function() {
        var parent = jQuery(this).parents('.vendor-imprint-colors');
        var sides = jQuery(this).data('side')
        var colorName = jQuery(this).data('value')
        var bgColor = jQuery(this).data('color');
        parent.find('.imprint-color.enabled input[type="hidden"]').each(function(index) {
            var val = jQuery(this).val();
            if (val == '') {
                jQuery(this).val(colorName);
                jQuery(this).parent('.color_imprint').addClass('filled');
                jQuery(this).parent('.color_imprint').css('background-color', '#' + bgColor);
                jQuery(this).parent('.color_imprint').attr('title', colorName);
                jQuery(this).parents('.imprint-color').find('.color-name').append(
                    '<span class="title">' +
                    colorName + '</span>')
                return false;
            }
        });
    });
    /* Reset color link */
    jQuery('.resetcolor').on('click', function() {
        var parent = jQuery(this).parents('.imprint-color');
        parent.find('.color_imprint').removeClass('filled');
        parent.find('.color_imprint').attr({
            title: "",
            style: ""
        });
        parent.find('.color-name span.title').remove();
        parent.find('input[type="hidden"]').val('');
    });
    /* Color filter */
    jQuery('.color-sort').on('keyup',function(){
        var filter, input, a, i, txtValue;
        var parent = jQuery(this).parents('.vendor-imprint-colors');
        filter = jQuery(this).val();
        var color = parent.find('.vendor-colors span');
        for (i = 0; i < color.length; i++) {
            a = color[i];
            txtValue = a.title;
            if (txtValue.indexOf(filter) > -1) {
                color[i].style.display = "";
            } else {
                color[i].style.display = "none";
            }
        }
    });
});
</script>