<?php
/* Printed Sides Options */
$product = $block->getProduct();
$printed_sides_domestic = $block->getProduct()->getAttributeText('domestic_print_sides');
$printed_sides_overseas = $block->getProduct()->getAttributeText('overseas_print_sides');
if($printed_sides_domestic || $printed_sides_overseas){
?>
<div class="field print-sides bulk">
    <label class="label"><span>Where Would You Like It Printed? *</span></label>
    <div class="control">
        <div class="radio inline" style="">
            <input class="required-entry"  type="radio" name="print_sides" value="1">
            <span>Front Only</span>
        </div>
        <div class="radio inline" style="">
            <input class="required-entry"  type="radio" name="print_sides" value="2">
            <span>Front &amp; Back</span>
        </div>
        <div class="radio inline" style="">
            <input class="required-entry" type="radio" name="print_sides" value="3">
            <span>Front, Back &amp; Sides</span>
        </div>
    </div>
</div>
<?php } ?>
<?php /* Artwork Logos colors options for all sides 'Same or Different' */ ?>
<div class="field artwork-logos bulk" style="display:none;">
    <label class="label"><span>Are You Printing the Same Artwork on Both Sides? *</span></label>
    <div class="control">
        <div class="radio inline">
            <input class="" type="radio" name="artwork_logos" value="0">
            <span>Yes</span>
        </div>
        <div class="radio inline">
            <input class="" type="radio" name="artwork_logos" value="1">
            <span>No</span>
        </div>
    </div>
</div>

<script type="text/javascript">
	require([
		'jquery',
		'mage/mage'
	], function ($) {
		'use strict';
        jQuery(".print-sides").on("click", " .radio", function () {
            var printSides = jQuery(this).find('input[type="radio"]').val();
            if(printSides != 1){
                jQuery(".artwork-logos").show();
            }else{
                jQuery(".artwork-logos").hide();
            }
            var isSameArtwork = jQuery('.artwork-logos').find('input[type="radio"]:checked').val();
            if(isSameArtwork == 1 && printSides == 2){
                jQuery(".back-color").show();
                jQuery(".side1-color, .side2-color").hide();
                jQuery(".side1-color, .side2-color").removeClass('bulk');
                jQuery(".back-color").addClass('bulk');
            }else if(isSameArtwork == 1 && printSides == 3){
                jQuery(".back-color, .side1-color, .side2-color").show();
                jQuery(".back-color, .side1-color, .side2-color").addClass('bulk');
            }else{
                jQuery(".back-color, .side1-color, .side2-color").hide();
                jQuery(".back-color, .side1-color, .side2-color").removeClass('bulk');
            }
		});

        jQuery(".artwork-logos").on("click", " .radio", function () {
            var printSides = jQuery('.print-sides').find('input[type="radio"]:checked').val();
            var isSameArtwork = jQuery(this).find('input[type="radio"]').val();
            if(isSameArtwork == 1 && printSides == 2){
                jQuery(".back-color").show();
                jQuery(".back-color").addClass('bulk');
            }else if(isSameArtwork == 1 && printSides == 3){
                jQuery(".back-color, .side1-color, .side2-color").show();
                jQuery(".back-color, .side1-color, .side2-color").addClass('bulk');
            }else{
                jQuery(".back-color, .side1-color, .side2-color").hide();
                jQuery(".back-color, .side1-color, .side2-color").removeClass('bulk');
            }
		});
	});
</script>