<?php 
/* 
* Get Product Color from custom option 
*/
$product = $block->getProduct();
$all_options = $product->getOptions(); ?>
<div class="field product-colors">
    <label class="label"><span>Choose Product Color *</span></label>
    <?php 
    echo "<div class='control'>";
    foreach ($all_options as $option) {
        if ($option->getType() == "drop_down") {   
            if ($option->getDefaultTitle() == "Product Colors") {
                echo "<select  name='options[" . $option->getOptionId() . "]' id='select_" . $option->getOptionId() . "' class='validate-select product-custom-option'>";
                echo "<option value=''>-- Please Select --</option>";
                foreach ($option->getValues() as $value) {
                    echo "<option value='" . $value->getId() . "'>" . $value->getTitle() . "</option>";
                }
                echo "</select>";
            }    
        }   
    }
    echo "</div>";
?>
</div>