<?php
/*
* Get Production Time attribute's options
*/
$prod_time =0;
$_product = $block->getProduct();
$productionBlock = $block->getLayout()->createBlock('Techies\CustomTierPrice\Block\CustomTierPrice');
$production_times = $productionBlock->getProductionTime($_product->getId());
$production= ''; $production_label = '';
/* Get Minimum Qty of Intsock and Oversease Production */
$attr_oversease_id = $_product->getMinOverseaseProduct();
$attr_instock_id = $_product->getMinInstockProduct();
$attr1 = $_product->getResource()->getAttribute("min_instock_product");
if ($attr1->usesSource()) {
    $min_domestic_qty = $attr1->getSource()->getOptionText($attr_instock_id);
    if (strstr($min_domestic_qty, ',')) {
        $min_domestic_qty = (int) str_replace(",", "", $min_domestic_qty);
    }
}
$attr = $_product->getResource()->getAttribute("min_oversease_product");
if ($attr->usesSource()) {
    $min_oversease_qty = $attr->getSource()->getOptionText($attr_oversease_id);
	$oversease_min_qty = $attr->getSource()->getOptionText($attr_oversease_id);
    if (strstr($min_oversease_qty, ',')) {
        $min_oversease_qty = (int) str_replace(",", "", $min_oversease_qty);
    }
}
?>
<div class="field production-time bulk">
    <label class="label"><span>How Soon Do You Need Your Product?</span></label>
    <div class="control">
        <?php foreach($production_times as $key => $val){ 
        if(!empty($val['production_time'])){
            if($val['production_time'] == 1){
                $production = 'In-Stock';
                $production_label = '2 Weeks or Less';    
            }
            if($val['production_time'] == 2){
                $production = 'In-Stock';
                $production_label = 'Within 3 Weeks';    
            }
            if($val['production_time'] == 3){
                $production = 'Overseas';
                $production_label = 'Within 30 - 45 Days';    
            }
            if($val['production_time'] == 4){
                $production = 'Overseas';
                $production_label = 'Within 60 - 90 Days';    
            }                                            
    ?>
        <div class="radio inline">
            <input class="" type="radio" name="prod_time" value="<?php echo $val['production_time']; ?>">
            <span><?php echo $production; ?> <b class="qty_label">(<?php echo $production_label; ?>)</b></span>
        </div>
        <?php   } 
    } ?>
    </div>
</div>

<script type="text/javascript">
	require([
		'jquery',
		'mage/mage'
	], function ($) {
		'use strict';
        jQuery(".production-time").on("click", " .radio", function () {
            var productionTimeVal = jQuery(this).find('input[type="radio"]:checked').val();
            var logoval = jQuery('.logo-colors .radio');
            var printedVal = jQuery('.print-sides .radio');
            logoval.hide();
            printedVal.hide();
            if (productionTimeVal == 1 || productionTimeVal == 2) {
                <?php $logo_colors = $block->getProduct()->getAttributeText('domestic_logo_colors');
                    $printed_sides = $block->getProduct()->getAttributeText('domestic_print_sides');
                    if(is_string($logo_colors)){$logo_colors = array($logo_colors);}
                    if(is_string($printed_sides)){$printed_sides = array($printed_sides);}
                ?>
                var logoColorsArray = <?php echo json_encode($logo_colors); ?>;
                var printSidesArray = <?php echo json_encode($printed_sides); ?>;
                var minQty =  <?php echo intval($min_domestic_qty); ?>;  
            } else {
                <?php $logo_colors = $block->getProduct()->getAttributeText('overseas_logo_colors');
                    $printed_sides = $block->getProduct()->getAttributeText('overseas_print_sides');
                    if(is_string($logo_colors)){$logo_colors = array($logo_colors);}
                    if(is_string($printed_sides)){$printed_sides = array($printed_sides);}
                ?>
                var logoColorsArray = <?php echo json_encode($logo_colors); ?>;
                var printSidesArray = <?php echo json_encode($printed_sides); ?>;
                var minQty =  <?php echo intval($min_oversease_qty); ?>;  
            }
            var jl = 0,
                jp = 0;
            while (jl < logoColorsArray.length) {
                var il = 0;
                while (il < logoval.length) {
                    if (logoval.eq(il).find('input[type="radio"]').val() == logoColorsArray[jl]) {
                        var al = il + 1;
                        logoval.eq(il).show();
                        logoval.eq(il).find('input[type="radio"]').attr('disabled', false);
                        jQuery('.back-color .radio').eq(il).find('input[type="radio"]').attr('disabled', false);
                        jQuery('.side1-color .radio').eq(il).find('input[type="radio"]').attr('disabled', false);
                        jQuery('.side2-color .radio').eq(il).find('input[type="radio"]').attr('disabled', false);
                    }
                    il++;
                }
                jl++;
            }
            jQuery.each(printSidesArray, function(index, value) { 
                if (printedVal.eq(index).find('span').text() == printSidesArray[index]) {
                    printedVal.eq(index).show();
                    printedVal.eq(index).find('input[type="radio"]').attr('disabled', false);
                }
            });
            jQuery('.production-min-qty').text(minQty);
        });
    });
</script>