<?php 
/*

Get Colors of vendor wise

*/
?>
<span data-side="front" title="aqua marine pms 7712 c" class="colorbox" data-value="Aqua Marine PMS 7712 C"
    data-color="00859B" style="background-color:#00859B"><span class="tick-over"></span></span>
<span data-side="front" title="aurora pink pms 812 c / fluorescent" class="colorbox selected"
    data-value="Aurora Pink PMS 812 C / Fluorescent" data-color="FF5FA2" style="background-color:#FF5FA2"><span
        class="tick-over"></span></span>
<span data-side="front" title="black" class="colorbox" data-value="Black" data-color="000000"
    style="background-color:#000000"><span class="tick-over"></span></span>
<span data-side="front" title="bright green pms 348 c" class="colorbox" data-value="Bright Green PMS 348 C"
    data-color="00843D" style="background-color:#00843D"><span class="tick-over"></span></span>
<span data-side="front" title="cool pink pms 211 c" class="colorbox" data-value="Cool Pink PMS 211 C"
    data-color="F57EB6" style="background-color:#F57EB6"><span class="tick-over"></span></span>
<span data-side="front" title="cardinal red pms 202 c" class="colorbox" data-value="Cardinal Red PMS 202 C"
    data-color="862633" style="background-color:#862633"><span class="tick-over"></span></span>
<span data-side="front" title="chrome green pms 3308 c" class="colorbox selected" data-value="Chrome Green PMS 3308 C"
    data-color="034638" style="background-color:#034638"><span class="tick-over"></span></span>