<?php
   /**
    * Copyright © 2015 Magento. All rights reserved.
    * See COPYING.txt for license details.
    */
   
   // @codingStandardsIgnoreFile
   
   /* @var $block \Magento\Catalog\Block\Product\AbstractProduct */
   ?>
<?php
   switch ($type = $block->getType()) {
   
   
   
		case 'upsell':
			/** @var \Magento\Catalog\Block\Product\ProductList\Upsell $block */
			if ($exist = count($block->getItemCollection()->getItems())) {
				$type = 'upsell';
				$class = $type;

				$image = 'upsell_products_list';
				$title = __('upsell products');
				$items = $block->getItemCollection()->getItems();
				$limit = $block->getItemLimit('upsell');
				$shuffle = 0;

				$showWishlist = true;
				$showCompare = true;
				$showCart = true;
				$templateType = null;
				$description = false;
				$canItemsAddToCart = false;
			}
			break;
   
       case 'other':
       break;
   }
   ?>
<?php if ($exist):?>
<?php if ($type == 'related' || $type == 'upsell'): ?>
<?php if ($type == 'upsell'): ?>
<section class="block <?php echo $class; ?>" data-mage-init='{"relatedProducts":{"relatedCheckbox":".related.checkbox"}}' data-limit="<?php echo $limit; ?>" data-shuffle="<?php echo $shuffle; ?>">
<?php else: ?>
<section class="block <?php echo $class; ?>" data-mage-init='{"upsellProducts":{}}' data-limit="<?php echo $limit; ?>" data-shuffle="<?php echo $shuffle; ?>">
<?php endif; ?>
<?php else: ?>
<section class="block <?php echo $class; ?>">
   <?php endif; ?>
	<div class="rokan-product-heading rokan-upsell-heading">
      	<h2><?php echo $title; ?></h2>
	</div>
    
	<div class="block-content content" aria-labelledby="block-<?php echo $class?>-heading"> 
	   <div class="row2">
			<div id="upsell_product_slider" class="owl-carousel">
				<?php $iterator = 1; ?>
				<?php 
					$i = 0;
					$rows = 1;
				?>
				<?php foreach ($items as $_item): ?>
				<?php $available = ''; ?>  
				<?php
					$productImage = $block->getImage($_item, $image);
					
					
				?>
					<?php if ($i++%$rows==0) { ?>
					<div class="product-item-group">
					<?php } ?>
						<div class="product-item">
							<div class="product-photo">
								<a href="<?= /* @escapeNotVerified */ $_item->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
								   <?php $productImageThumb = $block->getImage($_item, 'category_page_grid-1');?>
										<span class="image0 image-switch">
											<?php echo $productImage->toHtml(); ?>
										</span>
										<span class="image1 image-switch">
											<?php echo $productImageThumb->toHtml(); ?>
										</span>
								</a>
								<div class="quickview-product visible-onhover">
									<a href="javascript:void(0)" data-role="quickview-button" data-id="<?php echo $_item->getId(); ?>" data-href="<?php echo $block->getUrl('quickview/product/quickview/id/' . $_item->getId()) ?>" title="<?php echo $block->escapeHtml(__('Quick view')); ?>" class="ajax diamond tooltip-hover" data-placement="top" data-original-title="<?php echo ('Quick view') ?>">	<i class="lnr lnr-move"></i>
									</a>
							    </div>
								<div class="product-label">
									<?php if ( $_item->getFinalPrice() < $_item->getPrice() ): ?>
										<span class="onsale">
											<span class="sale-bg"></span>
											<span class="sale-text"><?php echo __('Sale') ?></span>
										</span>
									<?php endif; ?>
									<?php $todayDate = time(); 
										$timeStartNew = strtotime($_item->getData('news_from_date'));
										$timeEndNew = strtotime($_item->getData('news_to_date')); ?>
									<?php if ( $timeEndNew >= $todayDate && $timeStartNew <= $todayDate): ?>
										<span class="newlabel">
											<span><?php echo __('New') ?></span>
										</span>
									<?php endif; ?>
								</div>
							</div>
							<div class="product-info">
								<?php
									$_itemNameStripped = $block->stripTags($_item->getName(), null, true);
								?>
								<div class="product-name">
									<strong class="product-item-name">
										<a class="product-item-link" title="<?php echo $block->escapeHtml($_item->getName()) ?>" href="<?php echo $block->getProductUrl($_item) ?>">
											<?php echo $block->escapeHtml($_item->getName()) ?></a>
									</strong>
								</div>
								<?= $block->getReviewsSummaryHtml($_item, $templateType) ?>
								<?= $block->getProductDetailsHtml($_item) ?>
								<?= /* @escapeNotVerified */ $block->getProductPrice($_item) ?>
								<div class="actions-primary">
									<?php if( $showWishlist ): ?>
										<?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow()): ?>
											<div class="action-wishlist visible-onhover">
												<a href="#"
												   data-post='<?php echo $block->getAddToWishlistParams($_item); ?>'
												   class="action towishlist" data-action="add-to-wishlist"
												   title="<?php echo __('Add to Wishlist') ?>">
													<i class="lnr lnr-heart"></i>
												</a>
											</div>
										<?php endif; ?>
									<?php endif; ?>

									<div class="action-add-cart">
										<?php if ($_item->isSaleable()): ?>
											<?php if ($_item->getTypeInstance()->hasRequiredOptions($_item)): ?>
												<button class="action tocart" data-mage-init='{"redirectUrl": {"url": "<?php echo $block->getAddToCartUrl($_item) ?>"}}' type="button" title="<?php echo __('Add to Cart') ?>">
													<span><?php echo __('Add to Cart') ?></span>
												</button>
											<?php else: ?>
												<?php $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
											   	$postData = $postDataHelper->getPostData($block->getAddToCartUrl($_item), ['product' => $_item->getEntityId()])
											    ?>
												<button class="action tocart"
												   data-post='<?php echo $postData; ?>'
												   type="button" title="<?php echo __('Add to Cart') ?>">
													<span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
												</button>
											<?php endif; ?>
										<?php else: ?>
											<?php if ($_item->getIsSalable()): ?>
												<div class="stock available"><span><?php echo __('In stock') ?></span></div>
											<?php else: ?>
												<div class="stock unavailable"><span><?php echo __('Out of stock') ?></span></div>
											<?php endif; ?>
										<?php endif; ?>
									</div>
									<?php if( $showCompare ): ?>
										<?php
											$compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
										?>
										<div class="action-compare visible-onhover">
											<a href="#"
											   class="action button tocompare"
											   title="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
											   aria-label="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
											   data-post='<?php /* @escapeNotVerified */ echo $compareHelper->getPostDataParams($_item); ?>'
											   role="button">
												<i class="lnr lnr-layers"></i>
											</a>
										</div>
									<?php endif; ?>
								
								</div>		
							</div>

						</div> 
						<?php if($i%$rows==0 || $i == count($items)) { ?> 
					</div> 
					<?php } ?>
				<?php endforeach ?>
			</div>
		</div> 
    </div> 
</section>
<?php endif;?>
<script type="text/javascript">
	require([
		'jquery',
		'mage/mage',
		'rokanthemes/owl'
	], function ($) {
		'use strict';

		jQuery("#upsell_product_slider").owlCarousel({
			lazyLoad: true,
			autoPlay : false,
			items : 4,
			itemsDesktop : [1199,3],
			itemsDesktopSmall : [980,2],
			itemsTablet: [768,2],
			itemsMobile : [479,1],
			slideSpeed : 500,
			paginationSpeed : 500,
			rewindSpeed : 500,
			navigation : true,
			stopOnHover : true,
			pagination :false,
			scrollPerPage:true,
		});
	});
</script>
