<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */
?>
<?php
$_productCollection = $block->getLoadedProductCollection();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
?>
<?php if (!$_productCollection->count()): ?>
    <div class="message info empty"><div><?php /* @escapeNotVerified */ echo __('We can\'t find products matching the selection.') ?></div></div>
<?php else: ?>
    <?php echo $block->getToolbarHtml() ?>
    <?php echo $block->getAdditionalHtml() ?>
    <?php
    if ($block->getMode() == 'grid') {
        $viewMode = 'grid';
        $image = 'category_page_grid';
        $showDescription = false;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    } else {
        $viewMode = 'list';
        $image = 'category_page_list';
        $showDescription = true;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
    }
   /*Grid*/
	if($viewMode == "grid"):
		/**
		 * Position for actions regarding image size changing in vde if needed
		 */
		$pos = $block->getPositioned();
	?>
    <div class="products wrapper <?php /* @escapeNotVerified */ echo $viewMode; ?> products-<?php /* @escapeNotVerified */ echo $viewMode; ?>">
        <?php $iterator = 1; ?>
        <ol class="product-grid row">
            <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
            <?php foreach ($_productCollection as $_product): ?>
                <?php /* @escapeNotVerified */ echo($iterator++ == 1) ? '<li class="item-inner product-item-toki col-lg-4 col-md-6 col-sm-6 col-xs-6">' : '</li><li class="item-inner product-item-toki col-lg-4 col-md-6 col-sm-6 col-xs-6">' ?>
               		<div class="product-item-info">
               			<div class="product-list-item product-item-details">
		                    <?php
		                    $productImage = $block->getImage($_product, $image);
		                    if ($pos != null) {
		                        $position = ' style="left:' . $productImage->getWidth() . 'px;'
		                            . 'top:' . $productImage->getHeight() . 'px;"';
		                    }
		                    ?>
		                     <?php // Product Image ?>
							<div class="product-photo">
								<a href="<?= /* @escapeNotVerified */ $_product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
								   <?php $productImageThumb = $block->getImage($_product, 'category_page_grid-1');?>
										<span class="image0 image-switch">
											<?php echo $productImage->toHtml(); ?>
										</span>
										<span class="image1 image-switch">
											<?php echo $productImageThumb->toHtml(); ?>
										</span>
								</a>
								<!--<div class="quickview-product visible-onhover">
									<a href="javascript:void(0)" data-role="quickview-button" data-id="<?php echo $_product->getId(); ?>" data-href="<?php echo $block->getUrl('quickview/product/quickview/id/' . $_product->getId()) ?>" title="<?php echo $block->escapeHtml(__('Quick view')); ?>" class="ajax diamond tooltip-hover" data-placement="top" data-original-title="<?php echo ('Quick view') ?>">	<i class="lnr lnr-move"></i>
									</a>
							    </div>-->
								<div class="product-label">
									<?php if ( $_product->getFinalPrice() < $_product->getPrice() ): ?>
										<span class="onsale">
											<span class="sale-bg"></span>
											<span class="sale-text"><?php echo __('Sale') ?></span>
										</span>
									<?php endif; ?>
									<?php $todayDate = time(); 
										$timeStartNew = strtotime($_product->getData('news_from_date'));
										$timeEndNew = strtotime($_product->getData('news_to_date')); ?>
									<?php if ( $timeEndNew >= $todayDate && $timeStartNew <= $todayDate): ?>
										<span class="newlabel">
											<span><?php echo __('New') ?></span>
										</span>
									<?php endif; ?>
								</div>
							</div>
							<div class="product-info">
								<?php
									$_productNameStripped = $block->stripTags($_product->getName(), null, true);
								?>
								<div class="product-name">
									<strong class="product-item-name">
										<a class="product-item-link"
										   href="<?= /* @escapeNotVerified */ $_product->getProductUrl() ?>"> 
											<?= /* @escapeNotVerified */ $_helper->productAttribute($_product, $_product->getName(), 'name') ?>
										</a>
									</strong>
								</div>
								<?php echo "<div class='product-size'>Size: <span class='text-green'>".$_product->getProductSize()."</span></div>"; ?>
								<?php /* @escapeNotVerified */ 
								$tier_prices = $_product->getTierPrices(); // $this->getTierPrices($_product);
								if(count($tier_prices) > 0){
									$product_price = array();
									foreach($tier_prices as $price){
										$product_price[] = $price->getValue();
									}
									echo 'As Low As: <span  class="price text-orange">' . $this->helper('Magento\Framework\Pricing\Helper\Data')->currency(min($product_price),true,false). '</span>';
								} else{
									echo $block->getProductPrice($_product);
								} ?>
								<?php echo "<div class='product-sku'>SKU: <span class='text-green'>".$_product->getSku()."</span></div>"; ?>
								
								<?= $block->getReviewsSummaryHtml($_product, $templateType) ?>
								<div class="product-details-fixed">
									<?= $block->getProductDetailsHtml($_product) ?>
								</div>
								<div class="actions-primary">
									<?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow()): ?>
										<div class="action-wishlist visible-onhover">
											<a href="#"
											   data-post='<?php echo $block->getAddToWishlistParams($_product); ?>'
											   class="action towishlist" data-action="add-to-wishlist"
											   title="<?php echo __('Add to Wishlist') ?>">
												<i class="lnr lnr-heart"></i>
											</a>
										</div>
									<?php endif; ?>
									<?php if ($_product->isSaleable()): ?>
										<?php $postParams = $block->getAddToCartPostParams($_product); ?>
										<div class="action-add-cart">
											<form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
											  <input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
											  <input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
											  <?php echo $block->getBlockHtml('formkey')?>
											  <button type="submit"
												  title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
												  class="action tocart">
												<span><?php echo __('Add to Cart') ?></span>
											  </button>
											</form>
										</div>
									<?php else: ?>
										<?php if ($_product->getIsSalable()): ?>
											<div class="stock available"><span><?php echo __('In stock') ?></span></div>
										<?php else: ?>
											<div class="stock unavailable"><span><?php echo __('Out of stock') ?></span></div>
										<?php endif; ?>
									<?php endif; ?>
									
									<?php
										$compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
									?>
									<div class="action-compare visible-onhover">
										<a href="#"
										   class="action button tocompare"
										   title="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
										   aria-label="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
										   data-post='<?php /* @escapeNotVerified */ echo $compareHelper->getPostDataParams($_product); ?>'
										   role="button">
											<i class="lnr lnr-layers"></i>
										</a>
									</div>
								</div>		
							</div>
							
		                </div>
               		</div>
                <?php echo($iterator == count($_productCollection)+1) ? '</li>' : '' ?>
            <?php endforeach; ?>
        </ol>
    </div>
    <?php echo $block->getToolbarHtml() ?>
    <?php if (!$block->isRedirectToCartEnabled()) : ?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {}
            }
        }
        </script>
    <?php endif; ?>
	<?php
		/*List*/
		else:
			/**
			 * Position for actions regarding image size changing in vde if needed
			 */
			$pos = $block->getPositioned();
	?>
		<div class="products wrapper <?php /* @escapeNotVerified */ echo $viewMode; ?> products-<?php /* @escapeNotVerified */ echo $viewMode; ?>">
			<?php $iterator = 1; ?>
			<ol class="product-list row">
				<?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
				<?php foreach ($_productCollection as $_product): ?>
					<?php /* @escapeNotVerified */ echo($iterator++ == 1) ? '<li class="item product product-item product-item-toki">' : '</li><li class="item product product-item product-item-toki">' ?>
					<div class="product-info" data-container="product-list">
					<div class="row">
						<?php
						$productImage = $block->getImage($_product, $image);
						if ($pos != null) {
							$position = ' style="left:' . $productImage->getWidth() . 'px;'
								. 'top:' . $productImage->getHeight() . 'px;"';
						}
						?>
						 
						<div class="col-sm-6 col-md-4 col-xs-12">
							<div class="product-photo">
								<a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" tabindex="-1">
									<?php echo $productImage->toHtml(); ?>
								</a>
								<div class="product-label">
									<?php if ( $_product->getFinalPrice() < $_product->getPrice() ): ?>
										<span class="onsale">
											<span class="sale-bg"></span>
											<span class="sale-text"><?php echo __('Sale') ?></span>
										</span>
									<?php endif; ?>
									<?php $todayDate = time(); 
										$timeStartNew = strtotime($_product->getData('news_from_date'));
										$timeEndNew = strtotime($_product->getData('news_to_date')); ?>
									<?php if ( $timeEndNew >= $todayDate && $timeStartNew <= $todayDate): ?>
										<span class="newlabel">
											<span><?php echo __('New') ?></span>
										</span>
									<?php endif; ?>
								</div>
							</div>
						</div>
						<div class="product details product-item-details col-md-8 col-sm-6 col-xs-12">
							<?php
								$_productNameStripped = $block->stripTags($_product->getName(), null, true);
							?>
							<h3 class="product-name">
								<a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>">
									<?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
								</a>
							</h3>
							<?php if ($showDescription):?>
                                <div class="product description product-item-description">
                                    <?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
                                </div>
                            <?php endif; ?>
							<div class="product-ratting">
								<?php echo $block->getReviewsSummaryHtml($_product, $templateType); ?>
							</div>
							<?php /* @escapeNotVerified */ echo $block->getProductPrice($_product) ?>
							<div class="product-details-fixed">
								<?php echo $block->getProductDetailsHtml($_product) ?>
							</div>
							<div class="addto-links-icons">
								<div class="action-inner product-item-actions"<?php echo strpos($pos, $viewMode . '-actions') ? $position : ''; ?>>
									<div class="actions-primary"<?php echo strpos($pos, $viewMode . '-primary') ? $position : ''; ?>>
										<?php if ($_product->isSaleable()): ?>
											<?php $postParams = $block->getAddToCartPostParams($_product); ?>
											<form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
												<input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
												<input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
												<?php echo $block->getBlockHtml('formkey')?>
												<button type="submit"
                                                    title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
                                                    class="action tocart primary">
													<span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
												</button>
											</form>
										<?php else: ?>
											<?php if ($_product->getIsSalable()): ?>
												<div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
											<?php else: ?>
												<div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
											<?php endif; ?>
										<?php endif; ?>
									</div>
									<div data-role="add-to-links" class="actions-secondary"<?php echo strpos($pos, $viewMode . '-secondary') ? $position : ''; ?>>
										<?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow()): ?>
											<a href="#"
											   class="action towishlist"
											   title="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
											   aria-label="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
											   data-post='<?php /* @escapeNotVerified */ echo $block->getAddToWishlistParams($_product); ?>'
											   data-action="add-to-wishlist"
											   role="button">
												<i class="lnr lnr-heart"></i>
											</a>
										<?php endif; ?>
										<?php
										$compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
										?>
										<a href="#"
										   class="action tocompare"
										   title="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
										   aria-label="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
										   data-post='<?php /* @escapeNotVerified */ echo $compareHelper->getPostDataParams($_product); ?>'
										   role="button">
											<i class="lnr lnr-layers"></i>
										</a>
									</div>
								</div>
								
							</div>
						</div>
					</div>
					</div>
					<?php echo($iterator == count($_productCollection)+1) ? '</li>' : '' ?>
				<?php endforeach; ?>
			</ol>
		</div>
		<?php echo $block->getToolbarHtml() ?>
		<?php if (!$block->isRedirectToCartEnabled()) : ?>
			<script type="text/x-magento-init">
			{
				"[data-role=tocart-form], .form.map.checkout": {
					"catalogAddToCart": {}
				}
			}
			</script>
		<?php endif; ?>	
    <?php endif; ?>	
<?php endif; ?>