<?php
/**
 * Home product template
 */
$_helper = $block->getCatalogHelper();
$_priceHelper = $block->getPriceHelper();
$skusWithOrder=str_replace("'", '', explode(",", $block->getSkus()));
$title = $block->getBlockName();
$_productCollection = $block->getProductCollection()->addAttributeToFilter('sku', ['in' => $skusWithOrder]);
$showWishlist = false;
$showCompare = false;
$showCart = true;
$templateType = null;
$description = false;
$quickView = false;
if ($block->getMode() == 'grid') {
    $viewMode = 'grid';
    $image = 'category_page_grid';
    $showDescription = false;
    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
}
?>
<section class="block home-promotional categories_tab">
    <div class="rokan-product-heading">
       <h2><?= $block->escapeHtml(__($title)); ?></h2>
    </div>
    <div class="block-content content" >
        <div class="row2">
        <?php $pos = $block->getPositioned();
            $iterator = 1; ?>
            <ol class="product-grid row owl-carousel home-product-slider"  >
            <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
            <?php foreach ($_productCollection as $_product): ?>
                <li class="product-item-group">
                    <div class="product-item">
                           <div class="product-list-item product-item-details">
                            <?php
                            $productImage = $block->getImage($_product, $image);
                            if ($pos != null) {
                                $position = ' style="left:' . $productImage->getWidth() . 'px;'
                                    . 'top:' . $productImage->getHeight() . 'px;"';
                            }
                            ?>
                            <div class="product-photo">
                                <a href="<?= /* @noEscape */  $_product->getProductUrl() ?>"
                                class="product photo product-item-photo" tabindex="-1">
                                   <?php $productImageThumb = $block->getImage($_product, 'category_page_grid-1');?>
                                        <span class="image0 image-switch">
                                            <?= $productImage->toHtml(); ?>
                                        </span>
                                        <span class="image1 image-switch">
                                            <?= $productImageThumb->toHtml(); ?>
                                        </span>
                                </a>
                                <?php if (!empty($quickView)): ?>
                                <div class="quickview-product visible-onhover">
                                    <a href="javascript:void(0)" data-role="quickview-button" 
                                    data-id="<?= /* @noEscape */  $_product->getId(); ?>" 
                                    data-href="<?= /* @noEscape */  $block->getUrl('quickview/product/quickview/id/' . $_product->getId()) ?>" 
                                    title="<?= $block->escapeHtml(__('Quick view')); ?>"
                                    class="ajax diamond tooltip-hover" 
                                    data-placement="top" data-original-title="<?= ('Quick view') ?>">
                                       <i class="lnr lnr-move"></i>
                                    </a>
                                </div>
                                <?php endif; ?>
                                <div class="product-label">
                                    <?php if ($_product->getFinalPrice() < $_product->getPrice()): ?>
                                        <span class="onsale">
                                            <span class="sale-bg"></span>
                                            <span class="sale-text">
                                                <?= /* @escapeNotVerified */ $block->escapeHtml(__('Sale')); ?>
                                            </span>
                                        </span>
                                    <?php endif; ?>
                                    <?php $todayDate = time();
                                        $timeStartNew = strtotime($_product->getData('news_from_date'));
                                        $timeEndNew = strtotime($_product->getData('news_to_date')); ?>
                                    <?php if ($timeEndNew >= $todayDate && $timeStartNew <= $todayDate): ?>
                                        <span class="newlabel">
                                            <span><?= /* @escapeNotVerified */ $block->escapeHtml(__('New')); ?></span>
                                        </span>
                                    <?php endif; ?>
                                </div>
                            </div>
                            <div class="product-info">
                                <?php
                                    $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                                ?>
                                <div class="product-name">
                                    <strong class="product-item-name">
                                        <a class="product-item-link"
                                        href="<?= /* @noEscape */ $_product->getProductUrl() ?>"> 
                                            <?= /* @escapeNotVerified */ $block->escapeHtml(__($_helper->productAttribute($_product, $_product->getName(), 'name'))); ?>
                                        </a>
                                    </strong>
                                </div>
                                <?= /* @noEscape */ "<div class='product-size'>Size: <span class='text-green'>".$_product->getProductSize()."</span></div>"; ?>
                                <?php $tier_prices = $_product->getTierPrices();
                                if (count($tier_prices) > 0) {
                                    $product_price = [];
                                    foreach ($tier_prices as $price) {
                                        $product_price[] = $price->getValue();
                                    }
                                   /* @noEscape */ echo 'As Low As: <span  class="price text-orange">' . $_priceHelper->currency(min($product_price), true, false). '</span>';
                                } else {
                                        $block->getProductPrice($_product);
                                } ?>
                                <?=  /* @noEscape */ "<div class='product-sku'>SKU: <span class='text-green'>".$_product->getSku()."</span></div>"; ?>
                                <?= $block->getReviewsSummaryHtml($_product, $templateType) ?>
                                <div class="product-details-fixed">
                                    <?= $block->getProductDetailsHtml($_product) ?>
                                </div>
                                
                                <div class="actions-primary">
                                    <?php if ($block->getWishlistHelperData()->isAllow() && !empty($showWishlist)): ?>
                                        <div class="action-wishlist visible-onhover">
                                            <a href="#"
                                               data-post='<?= /* @noEscape */ $block->getAddToWishlistParams($_product); ?>'
                                               class="action towishlist" data-action="add-to-wishlist"
                                               title="<?= $block->escapeHtml(__('Add to Wishlist')); ?>">
                                                <i class="lnr lnr-heart"></i>
                                            </a>
                                        </div>
                                    <?php endif; ?>
                                    <?php if ($_product->isSaleable() && !empty($showCart)): ?>
                                        <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                        <div class="action-add-cart">
                                            <form data-role="tocart-form" action="<?= /* @noEscape */ $postParams['action']; ?>" method="post">
                                              <input type="hidden" name="product" value="<?= /* @noEscape */  $postParams['data']['product']; ?>">
                                              <?= $block->getBlockHtml('formkey')?>
                                              <button type="submit"
                                                  title="<?= $block->escapeHtml(__('Add to Cart')); ?>"
                                                  class="action tocart">
                                                <span><?= $block->escapeHtml(__('Add to Cart')); ?></span>
                                              </button>
                                            </form>
                                        </div>
                                    <?php else: ?>
                                        <?php if ($_product->getIsSalable()): ?>
                                            <div class="stock available"><span><?= $block->escapeHtml(__('In stock')); ?></span></div>
                                        <?php else: ?>
                                            <div class="stock unavailable"><span><?= $block->escapeHtml(__('Out of stock')); ?></span></div>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                    <?php if (!empty($showCompare)):
                                        $compareHelper = $block->getCompareHelper();
                                        ?>
                                    <div class="action-compare visible-onhover">
                                        <a href="#"
                                           class="action button tocompare"
                                           title="<?= $block->escapeHtml(__('Add to Compare')); ?>"
                                           aria-label="<?= $block->escapeHtml(__('Add to Compare')); ?>"
                                           data-post='<?= /* @noEscape */   $compareHelper->getPostDataParams($_product); ?>'
                                           role="button">
                                            <i class="lnr lnr-layers"></i>
                                        </a>
                                    </div>
                                        <?php endif;?>
                                </div>        
                            </div>
                            
                        </div>
                       </div>
                       </li>
            <?php endforeach; ?>
        </ol>
        </div>
    </div>
</section>
<script type="text/javascript">
    require([
        'jquery',
        'mage/mage',
        'rokanthemes/owl'
    ], function ($) {
        'use strict';

        jQuery(".home-product-slider").owlCarousel({
            lazyLoad: true,
            autoPlay : false,
            items : 4,
            itemsDesktop : [1199,3],
            itemsDesktopSmall : [980,3],
            itemsTablet: [768,2],
            itemsMobile : [479,1],
            slideSpeed : 500,
            paginationSpeed : 500,
            rewindSpeed : 500,
            navigation : true,
            stopOnHover : true,
            pagination :false,
            scrollPerPage:true,
        });
    });
</script>
