<?php
/**
 * Techies India Inc
 */

/** @var \Techies\Color\Block\Color\ListColor $block */
?>
<?php $colors = $block->getColors();?>
<?php if ($colors->getSize()): ?>
<div class="color-toolbar toolbar top"><?= $block->getPagerHtml(); ?></div>
<div class="color-list">
    <?php foreach ($colors as $color): ?>
        <div class="color-item">
            <div class="color-color-name">
                <?= $block->escapeHtml($color->getColorName());?>
            </div>
            <?php if ($colorCode = $color->getColorCode()):?>
            <div class="color-color-code">
                <strong><?= $block->escapeHtml(__('Color Code')) ?></strong>:
                <?= $block->escapeHtml($colorCode);?>
            </div>
            <?php endif;?>

            <?php if ($colorPms = $color->getColorPms()):?>
            <div class="color-color-pms">
                <strong><?= $block->escapeHtml(__('Color Pms')) ?></strong>:
                <?= $block->escapeHtml($colorPms);?>
            </div>
            <?php endif;?>
        </div>
    <?php endforeach; ?>
    <div class="color-toolbar toolbar bottom"><?= $block->getPagerHtml(); ?></div>
<?php else: ?>
    <?= $block->escapeHtml(__('There are no colors at this moment')); ?>
<?php endif;?>
