<?php 
/* 
*
*   Custom Tab lists of Product Detail Page
*
*/
?>
<ul class="tabs">
    <li><a href="javascript:void(0);" data-id="request-quote">Request A Quote</a></li>
    <li><a class="active" href="javascript:void(0);" data-id="buy-options" data-class="bulk">Buy Now</a></li>
    <li><a href="javascript:void(0);" data-id="buy-options" data-class="sample">Order Sample</a></li>
</ul>
<script type="text/javascript">
require([
    'jquery',
    'mage/mage'
], function($) {
    'use strict';
    jQuery('.tabs a').on('click',function(){
        var tabContentElementId = jQuery(this).attr('data-id');
        var tabContentElementClass= jQuery(this).attr('data-class');
        jQuery('.tabs a').removeClass('active');
        jQuery('.tab-panel').removeClass('show')
        jQuery(this).addClass('active');
        jQuery('#'+tabContentElementId).addClass('show');
        if(tabContentElementClass == "bulk"){
            jQuery('.bulk').show();
            jQuery('input[name="sample"]').val(0);
        } else if(tabContentElementClass == "sample"){
            jQuery('.bulk').hide();
            jQuery('input[name="sample"]').val(1);
        } else{

        }
    });
});
</script>