<?php 
/*
*
* 
*
*/ ?>
<form method="post" action="">
    <div class="row">
        <div class="control col-md-6">
            <input type="text" name="name" placeholder="Name" value="" />
        </div>
        <div class="control col-md-6">
            <input type="text" name="email" placeholder="Email Address" value="" />
        </div>
        <div class="control col-md-6">
            <input type="text" name="phone" placeholder="Phone" value="" />
        </div>
        <div class="control col-md-6">
            <input type="text" name="quantity" placeholder="Quantity" value="" />
        </div>
    </div>
<div class="control">
    <p style="font-size:12px;">Complete this form & receive a free sample</p>
    <input type="submit" name="submit" value="Submit" />
</div>
</form>

