<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Product\View */
?>
<?php 
$qty = 1;
$lowestPrice = 0;
$totalPrice = 0;
$_product = $block->getProduct(); 
$_priceHelper = $this->helper('Magento\Framework\Pricing\Helper\Data');
$productionBlock = $block->getLayout()->createBlock('Techies\CustomTierPrice\Block\CustomTierPrice');
$lowestPrice = $productionBlock->getLowestTierprice($_product->getId());
$config_point2 = $this->helper('Rokanthemes\RokanBase\Helper\Data')->getConfigData('setting_categories/categories/point2');
$arr_config_point2 = explode(',', $config_point2);

$categories = $_product->getCategoryIds();
if(count($categories) > 0 && count($arr_config_point2) > 0){
	foreach($arr_config_point2 as $val1){
		if(in_array(trim($val1), $categories)){
			$qty = 3;
			break;
		}
	}
}
?>
<?php $buttonTitle = __('Add to cart'); ?>
<?php if ($_product->isSaleable()): ?>
<input type="hidden" name="sample" value="0" />
<div class="box-tocart">
    <div class="fieldset">
        <div class="field">
            <label class="label"><span>Choose Your Quantity</span></label>
            <div class="row">
                <?php if ($block->shouldRenderQuantity()): ?>
                <div class="col-md-3">
                    <div class="qty">
                        <!--<a class="qty-down-fixed-onclick qty-down" href="#"><i class="fa fa-minus"></i></a>-->
                        <div class="control">
                            <input type="number"
                                name="qty"
                                id="qty"
                                maxlength="12"
                                value="<?php /* @escapeNotVerified */ echo $qty * 1 ?>"
                                title="<?php /* @escapeNotVerified */ echo __('Quantity') ?>" class="input-text qty"
                                data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
                                />
                        </div>
                        <!--<a class="qty-up-fixed-onclick qty-up" href="#"><i class="fa fa-plus"></i></a>-->
                    </div>
                </div>
                <div class="base-price lowest-price col-md-3">
                    <input type="text"
                            name="base-price"
                            id="base-price"
                            maxlength="12"
                            value="<?php /* @escapeNotVerified */ echo $_priceHelper->currency($lowestPrice, true, false); ?>"
                            title="<?php /* @escapeNotVerified */ echo __('Lowest Price') ?>" class="input-text lowest-price"
                            readonly />
                </div>
                <div class="total-price col-md-3">
                    <input type="text"
                            name="total-price"
                            id="total-price"
                            maxlength="12"
                            value="<?php /* @escapeNotVerified */ echo $_priceHelper->currency($lowestPrice, true, false); ?>"
                            title="<?php /* @escapeNotVerified */ echo __('Total Price') ?>" class="input-text total-price"
                            readonly />
                </div>
                <?php endif; ?>

                <div class="actions col-md-4">
                    <button type="submit"
                            title="<?php /* @escapeNotVerified */ echo $buttonTitle ?>"
                            class="action primary tocart"
                            id="product-addtocart-button">
                        <span><?php /* @escapeNotVerified */ echo $buttonTitle ?></span>
                    </button>
                    <?php echo $block->getChildHtml('', true) ?>
                </div>

            </div>
            <div class="qty-notify bulk">
                This product carries a minimum bulk order quantity of <span class="production-min-qty">100</span> pieces. You may order 1 piece as a pre-production sample with your logo. When ordering 1 piece, the set-up fee is included in the $45 shipping charge.
            </div>
        </div>
    </div>
</div>
<?php endif; ?>
<?php if ($block->isRedirectToCartEnabled()) : ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/product/view/validation": {
                "radioCheckboxClosest": ".nested"
            }
        }
    }
</script>
<?php else : ?>
<script>
    require([
        'jquery',
        'mage/mage',
        'Magento_Catalog/product/view/validation',
        'Magento_Catalog/js/catalog-add-to-cart'
    ], function ($) {
        'use strict';
		var number_click = <?php echo $qty;?>;
		$(".qty-down-fixed-onclick").click(function() {
			var val_input = $(this).closest('div.field').find('#qty').val();
			val_input = parseInt(val_input);
			if(val_input <= number_click){
				val_input = number_click;
			}
			else{
				val_input = val_input - number_click;
			}
			$('div.field div.control #qty').val(val_input);
			return false;
		});
		$(".qty-up-fixed-onclick").click(function() {
			var val_input = $(this).closest('div.field').find('#qty').val();
			val_input = parseInt(val_input);
			val_input = val_input + number_click;
			$('div.field div.control #qty').val(val_input);
			return false;
		});
		
        $('#product_addtocart_form').mage('validation', {
            radioCheckboxClosest: '.nested',
            submitHandler: function (form) {
                var widget = $(form).catalogAddToCart({
                    bindSubmit: false
                });

                widget.catalogAddToCart('submitForm', $(form));

                return false;
            }
        });
       /* $('#qty').on('keyup', function () {
            var sample_qty = 3;
            var qty = $(this).val();
            if(qty > sample_qty){
                $(this).val(1);
            }
        });*/
    });
</script>
<?php endif; ?>