<?php 
$_helperBlock = $block->getLayout()->createBlock('Techies\HomeProducts\Block\ProductList');
$_priceHelper = $_helperBlock->getPriceHelper();
$_product = $block->getProduct();
$tierPrices = $_product->getTierPrices();
$_inStockPrices = array();
$_inStockQty = array();
$_overseasQty = array();
$_overseasPrices = array();
$production_instock_options = array(1,2);
$production_overseas_options = array(3,4);
foreach($tierPrices as $tierPrice){
    $prices[] = $tierPrice->getValue();
    if($tierPrice->getCustomerGroupId() == 4){
        $_inStockQty[] = $tierPrice->getQty();
        $_inStockPrices[]= $tierPrice->getValue();
    }
    if($tierPrice->getCustomerGroupId() == 5){
        $_overseasQty[] = $tierPrice->getQty();
        $_overseasPrices[]= $tierPrice->getValue();
    }
}
?>
<div class="production-tierprice-list">
<?php if(isset($_inStockQty) && !empty($_inStockQty)): ?>
    <div class="group-title">In-Stock</div>
    <div class="table-responsive">
        <table class="instock-tierprice">
            <tr>
                <th>Qty</th>
                <td>1</td>
                <?php foreach($_inStockQty as $qty){
                    echo "<td>".number_format($qty)."+</td>";
                } ?>
            </tr>
            <tr>
                <th>Price</th>
                <td><?php echo $_priceHelper->currency(min($prices));?></td>
                <?php foreach($_inStockPrices as $price){
                    echo "<td>".$_priceHelper->currency($price)."</td>";
                } ?>
            </tr>
        </table>
    </div>
<?php endif; 
/* Overseas Production Price List */
if(isset($_overseasQty) && !empty($_overseasQty)): ?>
    <div class="group-title">Overseas</div>
    <div class="table-responsive">
        <table class="instock-tierprice">
            <tr>
                <th>Qty</th>
                <td>1</td>
                <?php foreach($_overseasQty as $qty){
                    echo "<td>".number_format($qty)."+</td>";
                } ?>
            </tr>
            <tr>
                <th>Price</th>
                <td><?php echo $_priceHelper->currency(min($prices));?></td>
                <?php foreach($_overseasPrices as $price){
                    echo "<td>".$_priceHelper->currency($price)."</td>";
                } ?>
            </tr>
        </table>
    </div>
<?php endif; ?>
</div>