<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Checkout\Block\Cart\Item\Renderer */

$_item = $block->getItem();

$_priceHelper = $this->helper('Magento\Framework\Pricing\Helper\Data');
$product = $_item->getProduct();
$isVisibleProduct = $product->isVisibleInSiteVisibility();
/** @var \Magento\Msrp\Helper\Data $helper */
$helper = $this->helper('Magento\Msrp\Helper\Data');
$canApplyMsrp = $helper->isShowBeforeOrderConfirm($product) && $helper->isMinimalPriceLessMsrp($product);

$config_point2 = $this->helper('Rokanthemes\RokanBase\Helper\Data')->getConfigData('setting_categories/categories/point2');
$arr_config_point2 = explode(',', $config_point2);
$qty = 1;
$categories = $product->getCategoryIds();
if(count($categories) > 0 && count($arr_config_point2) > 0){
	foreach($arr_config_point2 as $val1){
		if(in_array(trim($val1), $categories)){
			$qty = 3;
			break;
		}
	}
}
$category_id = array(119=>119, 120=>120, 121=>121, 122=>122, 123=>123, 124=>124, 125=>125, 126=>126, 127=>127); // if you know static category then enter number
$seedCatMatch=false;
$idcats=  $product->getCategoryIds();
if(isset($idcats) && count($idcats)>0){
    foreach($idcats as $valids){
        if (in_array($valids, $category_id))
        {
            $seedCatMatch=true;
        }
    }
}
$artwork = $_item->getArtworkType();
$prod_time = $_item->getProductionTime();
$print_sides = (int)$_item->getPrintSides();
$logo_colors = $_item->getLogoColors();
$front_logo = $_item->getLogoColors();
$back_logo = $_item->getBackLogo();
$side1_logo = $_item->getSideOneLogo();
$side2_logo = $_item->getSideTwoLogo();
$isImprint = strpos(strtolower($front_logo), 'imprint');
?>
<tbody class="cart item">
    <tr class="item-info <?php echo  $_item->getId();?>">
        <td data-th="<?php echo $block->escapeHtml(__('Item')); ?>" class="col item">
            <?php if ($block->hasProductUrl()):?>
            <a href="<?php /* @escapeNotVerified */ echo $block->getProductUrl() ?>"
                title="<?php echo $block->escapeHtml($block->getProductName()) ?>" tabindex="-1"
                class="product-item-photo">
                <?php else:?>
                <span class="product-item-photo">
                    <?php endif;?>
                    <?php echo $block->getImage($block->getProductForThumbnail(), 'cart_page_product_thumbnail')->toHtml(); ?>
                    <?php if ($block->hasProductUrl()):?>
            </a>
            <?php else: ?>
            </span>
            <?php endif; ?>
            <div class="product-item-details">
                <strong class="product-item-name">
                    <?php if ($block->hasProductUrl()):?>
                    <a
                        href="<?php /* @escapeNotVerified */ echo $block->getProductUrl() ?>"><?php echo $block->escapeHtml($block->getProductName()) ?></a>
                    <?php else: ?>
                    <?php echo $block->escapeHtml($block->getProductName()) ?>
                    <?php endif; ?>
                </strong>
                <?php if ($_options = $block->getOptionList()):?>
                <dl class="item-options">
                    <?php foreach ($_options as $_option) : ?>
                    <?php $_formatedOptionValue = $block->getFormatedOptionValue($_option) ?>
                    <dt><?php echo $block->escapeHtml($_option['label']) ?></dt>
                    <dd>
                        <?php if (isset($_formatedOptionValue['full_view'])): ?>
                        <?php /* @escapeNotVerified */ echo $_formatedOptionValue['full_view'] ?>
                        <?php else: ?>
                        <?php /* @escapeNotVerified */ echo $_formatedOptionValue['value'] ?>
                        <?php endif; ?>
                    </dd>
                    <?php endforeach; ?>
                </dl>
                <?php endif;?>
                <?php if ($messages = $block->getMessages()): ?>
                <?php foreach ($messages as $message): ?>
                <div class="cart item message <?php /* @escapeNotVerified */ echo $message['type'] ?>">
                    <div><?php echo $block->escapeHtml($message['text']) ?></div>
                </div>
                <?php endforeach; ?>
                <?php endif; ?>
                <?php $addInfoBlock = $block->getProductAdditionalInformationBlock(); ?>
                <?php if ($addInfoBlock): ?>
                <?php echo $addInfoBlock->setItem($_item)->toHtml() ?>
                <?php endif;?>
            </div>
        </td>

        <?php if ($canApplyMsrp): ?>
        <td class="col msrp" data-th="<?php echo $block->escapeHtml(__('Price')); ?>">
            <span class="pricing msrp">
                <span
                    class="msrp notice"><?php /* @escapeNotVerified */ echo __('See price before order confirmation.'); ?></span>
                <?php $helpLinkId = 'cart-msrp-help-' . $_item->getId(); ?>
                <a href="#" class="action help map" id="<?php /* @escapeNotVerified */ echo($helpLinkId); ?>"
                    data-mage-init='{"addToCart":{"helpLinkId": "#<?php /* @escapeNotVerified */ echo $helpLinkId;?>","productName": "<?php /* @escapeNotVerified */ echo $product->getName(); ?>","showAddToCart": false}}'>
                    <span><?php /* @escapeNotVerified */ echo __("What's this?"); ?></span>
                </a>
            </span>
        </td>
        <?php else: ?>
        <td class="col price" data-th="<?php echo $block->escapeHtml(__('Price')); ?>">
            <?php echo $block->getUnitPriceHtml($_item); ?>
        </td>
        <?php endif; ?>
        <td class="col qty" data-th="<?php echo $block->escapeHtml(__('Qty')); ?>">
            <div class="field qty">
                <label class="label" for="cart-<?php /* @escapeNotVerified */ echo $_item->getId() ?>-qty">
                    <span><?php /* @escapeNotVerified */ echo __('Qty') ?></span>
                </label>
                <div class="control qty">
                    <a class="qty-down-fixed-onclick-page-cart" href="#"><i class="fa fa-minus"></i></a>
                    <input id="cart-<?php /* @escapeNotVerified */ echo $_item->getId() ?>-qty"
                        name="cart[<?php /* @escapeNotVerified */ echo $_item->getId() ?>][qty]"
                        data-cart-item-id="<?php /* @escapeNotVerified */ echo $_item->getSku() ?>"
                        value="<?php /* @escapeNotVerified */ echo $block->getQty() ?>" type="number" size="4"
                        data-qty="<?php /* @escapeNotVerified */ echo $qty; ?>"
                        title="<?php echo $block->escapeHtml(__('Qty')); ?>" class="input-text qty" maxlength="12"
                        data-validate="{required:true,'validate-greater-than-zero':true}" data-role="cart-item-qty" />
                    <a class="qty-up-fixed-onclick-page-cart" href="#"><i class="fa fa-plus"></i></a>
                </div>
            </div>
        </td>

        <td class="col subtotal" data-th="<?php echo $block->escapeHtml(__('Subtotal'));?>">
            <?php if ($canApplyMsrp): ?>
            <span class="cart msrp subtotal">--</span>
            <?php else: ?>
            <?php echo $block->getRowTotalHtml($_item); ?>
            <?php endif; ?>
        </td>
        <td colspan="100" class="col action">
            <div class="actions-toolbar">
                <?php /* @escapeNotVerified */ echo $block->getActions($_item) ?>
            </div>
        </td>
    </tr>
    <?php 
    if(!empty($artwork) && $print_sides == 3){
        $print_sides = 4; /* Front, Back, Side1 and Side2 */
    }
    if(!empty($print_sides)){
        for($ps=1;$ps<=$print_sides;$ps++){
            if($ps==1){$print_label = ($print_sides == 1)?'':'Front -';
                $ps_lc_label = ($print_sides == 1)?'':'first_side_';
                $logo_colors = !empty($artwork)?$logo_colors:$logo_colors;
               // $logo_colors = ($logo_colors>0)?(int)$logo_colors:$logo_colors;
            }
            if($ps==2){
                $print_label = 'Back -';
                $ps_lc_label = 'second_side_';
                $logo_colors = !empty($artwork)?$back_logo:$logo_colors;
               // $logo_colors = ($logo_colors>0)?(int)$logo_colors:$logo_colors;
            }
            if($ps==3){
                $print_label = !empty($artwork)?'Side 1 - ':'Sides -';
                $print_label =($logo_colors == '4 or more')?'Side 1 - ':$print_label;
                $ps_lc_label = 'third_side_';
                $logo_colors = !empty($artwork)?$side1_logo:$logo_colors;
                //$logo_colors = ($logo_colors>0)?(int)$logo_colors:$logo_colors;
            }
            if($ps==4){
                $print_label = 'Side 2 - ';
                $ps_lc_label = 'fourth_side_';
                $logo_colors = !empty($artwork)?$side2_logo:$logo_colors;
                
            }
            $logo_colors = ($isImprint !==false || $logo_colors == '4 or more')?$logo_colors:(int)$logo_colors;
            if(!empty($logo_colors)){ 
                if(is_string($logo_colors)){  
                    if($isImprint !==false){ if($ps == 1){ continue;}
                ?>
                    <tr class="item-info item-additional-charges">
                        <td data-th="<?= $block->escapeHtml(__('Imprint Color')) ?>" class="col item">
                            <?= $block->escapeHtml(__(($seedCatMatch==true)?"Second Side Imprint Color":"Second Imprint Color")) ?>
                        </td>
                        <td class="col imprint-price" data-th="<?= $block->escapeHtml(__('Imprint Price')) ?>">
                            <?php  echo $_priceHelper->currency($_item->getColorPrice(), true, false);?>
                        </td>
                        <td class="col imprint-qty" data-th="<?= $block->escapeHtml(__('Qty')) ?>">
                            <?php echo $block->escapeHtmlAttr($_item->getQty()) ?>
                        </td>
                        <td class="col imprint-subtotal" data-th="<?= $block->escapeHtml(__('Imprint Subtotal')) ?>">
                        <?php   //$secondImprintPrice = ($seedCatMatch==true)?$_item->getSecondSideFirstImprintColorTotal():$_item->getSecondImprintColorTotal();
                        echo $_priceHelper->currency($_item->getSecondImprintColorTotal(), true, false);  ?>
                        </td>
                        <td colspan="100" class="col"></td>
                    </tr>
                    <?php } else {  /* Full Imprint Color if logo color value equal to '4 or more' */?>
                        <tr class="item-info item-additional-charges">
                            <td data-th="<?= $block->escapeHtml(__('Full Color Imprint')) ?>" class="col item">
                                <?= $block->escapeHtml(__($print_label.' Full Color Imprint')) ?>
                            </td>
                            <td class="col imprint-price" data-th="<?= $block->escapeHtml(__('Full Imprint Price')) ?>">
                                <?php echo $_priceHelper->currency($_item->getFullColorPrice(), true, false);  ?>
                            </td>
                            <td class="col imprint-qty" data-th="<?= $block->escapeHtml(__('Qty')) ?>">
                                <?php echo $block->escapeHtmlAttr($block->getQty()) ?>
                            </td>
                            <td class="col imprint-subtotal" data-th="<?= $block->escapeHtml(__('Full Imprint Subtotal')) ?>">
                                <?php   echo $_priceHelper->currency($_item->getFullImprintColorFront(), true, false);  ?>
                            </td>
                            <td colspan="100" class="col"></td>
                        </tr>
            <?php   } ?>
        <?php   } else {
                    for($lc=1;$lc<=$logo_colors;$lc++){
                        if($lc==1){$logo_label =  ($print_sides == 3)?'Third':'First'; $imprint_label = $print_label.'First';}
                        if($lc==2){$logo_label = 'Second';$imprint_label = $print_label.'Second';}
                        if($lc==3){$logo_label = 'Third';$imprint_label = $print_label.'Third';} 
                        if($ps == 1 && $lc == 1){ continue;}
                        ?>
                        <tr class="item-info item-additional-charges dd">
                            <td data-th="<?= $block->escapeHtml(__('Imprint Color')) ?>" class="col item">
                                <?= $block->escapeHtml(__($imprint_label.' Imprint Color')) ?>
                            </td>
                            <td class="col imprint-price" data-th="<?= $block->escapeHtml(__('Imprint Price')) ?>">
                                <?php  echo $_priceHelper->currency($_item->getColorPrice(), true, false);?>
                            </td>
                            <td class="col imprint-qty" data-th="<?= $block->escapeHtml(__('Qty')) ?>">
                                <?php echo $block->escapeHtmlAttr($_item->getQty()) ?>
                            </td>
                            <td class="col imprint-subtotal" data-th="<?= $block->escapeHtml(__('Imprint Subtotal')) ?>">
                                <?php $imprint_total = $ps_lc_label.''.strtolower($logo_label).'_imprint_color_total';  
                                echo $_priceHelper->currency($_item->getData($imprint_total), true, false); ?>
                            </td>
                            <td colspan="100" class="col"></td>
                        </tr>
                    <?php
                    }
                }
            } 
        }
    } ?>
    <?php /* Setup Fee row item */ 
    if($_item->getSetupQty()>0){
    ?>
    <tr class="item-info item-additional-charges">
        <td data-th="<?= $block->escapeHtml(__('Setup Fees')) ?>" class="col item">
            <?= $block->escapeHtml(__('Setup Fees')) ?>
        </td>
        <td class="col setup-price" data-th="<?= $block->escapeHtml(__('Setup Price')) ?>">
            <?php  echo $_priceHelper->currency($_item->getSetupPrice(), true, false);?>
        </td>
        <td class="col setup-qty" data-th="<?= $block->escapeHtml(__('Setup Qty')) ?>">
            <?php echo $block->escapeHtmlAttr($_item->getSetupQty()) ?>
        </td>
        <td class="col setup-subtotal" data-th="<?= $block->escapeHtml(__('Setup Subtotal')) ?>">
            <?php  echo $_priceHelper->currency($_item->getSetupFeesTotal(), true, false); ?>
        </td>
        <td colspan="100" class="col"></td>
    </tr>
    <?php } ?>
</tbody>