<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
if($banners = $block->getBannerCollection()):
	$slider = $block->getSlider();
	$sliderId = $block->getSliderId(); 
?>
<div class="wrapper_slider slider_<?php echo $sliderId; ?> container-full">
	<div class="owl">
		<?php foreach($banners as $banner){	?>
			<div class="banner_item">
			<?php
			if($banner->getSlideImage() != ''){
				$html = $block->getImageElement($banner->getSlideImage());
				if($link = $banner->getSlideLink())
					$html = '<a href="'. $link .'">' . $html . '</a>' ; 
				echo $html;
			}
			?>
			<div class="text-banner">
				<?php if($text = $banner->getSlideText()){
					echo $block->getContentText($text);
				}
				?>
			</div>
			</div>
		<?php } ?>
	</div>
</div>
<script>
	require([
		'jquery',
		'mage/mage',
		'rokanthemes/owl'
	], function ($) {
		'use strict';

		jQuery(".slider_<?php echo $sliderId; ?> .owl").owlCarousel(
			{<?php foreach($slider->getSliderSetting() as $key=>$value)
				{
					if(in_array($key, array('autoPlay', 'navigation', 'stopOnHover', 'pagination', 'scrollPerPage'))){
						$value == 0 ? $value = 'false': '';
						$value == 1 ? $value = 'true': '';
					}
					echo $key . ':' . $value . ',';
				} ?>}
		);
	});
</script>
<?php endif; ?>
