
.btn-radius{
    border-radius:22px;
}
.btn-bg-green {
    background: @greenColor2;
    border-color: @greenColor2;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 300;
    color:  @lightcolor;
    font-family: @bdf;
    &:hover{
        background-color: transparent;
        color:@greenColor2;
        border-color: @greenColor2;
    }
}
.btn-bg-transparent {
    background-color: transparent;
    color:@greenColor2;
    border-color: @greenColor2;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 300;
    font-family: @bdf;
    &:hover{
        background: @greenColor2;
        border-color: @greenColor2;
        color:#fff;    
    }
}

.radio{
    input[type="radio"] {
        cursor: pointer;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;
        margin: 0;
        filter: alpha(opacity=0);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        &:checked+span {
            color: #000000;
            border: 1px solid #b18b0b;
            background-color: #e7b60e;
        }
        &:disabled+span {
            color: #e8e6e6;
            cursor: default; background-color: transparent;
            border: 1px solid #e8e6e6;
        }
    }
}

.text-green{
    color: @greenBoldColor;
}
.text-orange{
    color:@orangeColor;
}
.home-description{
    padding: 50px;
    background: #f8f7f5;
    text-align: center;
    h4{
        font-size: 28px;
    }
    p{
        line-height: 24px;
    }
}
.home-promotional{
    .product-item, .rokan-product-heading{margin-bottom: 0;}
    
}

.home-product-slider.owl-theme{
    .owl-controls{
        width: 70px;
        position: absolute;
        top: -64px;
        right: 0;
    }
    .owl-buttons{
        opacity: 1;
        visibility: visible;
    }
}

/* Product detail page */
.product-view{
    .product-info-main{
        .box-tocart {
		    .fieldset{
			    .qty{
                    margin-right: 0;
                    width:100%;
                    position: relative;
                    .qty-down,.qty-up{
                        display: inline-block;
                        position: absolute;
                        right: 0;
                        i{
                            display: inline-block;
                            text-align: center;
                            width: 25px;
                            height: 25px;
                            line-height: 25px;
                            font-size: 10px;
                            border-left:1px solid @bordercolor;
                            color: @darkcolor;							
                        }
                    }
                    .qty-down{top:0;border-bottom:1px solid @bordercolor;}
                    .qty-up{bottom:0;}
                }
                .lowest-price{
                    &:before {
                        content: 'x';
                        position: absolute;
                        left: 0;
                        line-height: 50px;
                    }
                }
                .total-price{
                    &:before {
                        content: '=';
                        position: absolute;
                        left: 0;
                        line-height: 50px;
                    }
                }
                input{text-align: center;}
                .col-md-3 {
                    padding-right: 5px;
                    width: 22%;
                }
            }
        }
    }
    .production-tierprice-list{
        font-size: 12px;
        .group-title {
            color: #004d72;
            font-size: 16px;
            margin-bottom: 5px;
        }
        th,td{
            padding: 12px;
            text-align: center;
        }
        th{
            background: #7fba01;
            color: #fff;
            text-align: center;
            border-color: #86bf0c;
        }
        table {
            margin-bottom: 0;
        }
        .table-responsive {
            margin-bottom: 24px;
        }
    }

    .product-options-wrapper, .product-add-form{
        counter-reset: section;
        .control{
            margin: 0 10px;
            position: relative;
        }
        .production-time {
            .radio {
                width: 48.6%;
            }
        }
        .fieldset:not(.choice){
            > .field{
                label{
                    padding: 10px 12px;
                    line-height: 28px;
                    background: #eaeae8;
                    border-radius: 25px;
                    width: 80%;
                    margin-bottom: 15px;
                    font-size: 14px;
                    &::before{
                        counter-increment: section;
                        content:counter(section);   
                        background: #124a2f;
                        border-radius: 50%;
                        color: #fff;
                        width: 28px;
                        height: 28px;
                        line-height: 28px;   
                        display: inline-block;
                        margin-right: 5px;
                        text-align: center;
                        font-size: 14px;
                    }
                }
            }
        }
        .qty_label {
            font-size: 12px;
            display: block;
            text-align: center;
            margin-top: 2px;
        }
        .radio{
            color: #999;
            font-size: 14px;
            margin-top: 5px;
            margin-bottom: 0;
            position: relative;
            margin-right: 5px;
            display: inline-block;
            span {
                position: relative;
                border: 1px solid #000;
                padding: 10px 26px;
                color: #fff;
                width: 100%;
                background: #488729;
                display: inline-block;
                text-align: center;
            }
        }
        .vendor-imprint-colors {
            margin:10px 10px 0;
            font-size:13px;
            input[type="text"]{
                padding:8px;
                font-size: 13px;
                margin-bottom: 8px;
                height: 38px;
            }
            .colorbox {
                width: 30px;
                height: 30px;
                display: inline-block;
                margin: 2px;
                border: 1px solid #eaeaea;
            }
            .color_imprint {
                padding: 5px;
                border: 1px solid #ccc;
                width: 20px;
                display: inline-block;
                height: 20px;
                margin-left: 10px;
            }
            .imprint-color{
                font-size: 13px;
                font-family: Helvetica;
                color: #000;
                .color-name{
                    .title{
                        width:64px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        border: none;
                        background: none;
                        padding: 0;
                        display:inline-block;
                        margin-left: 5px;
                    }
                }
                .resetcolor{
                    font-size: 11px;
                    margin-left: 6px;
                    color: blue;
                }
            }
        }
    }
    #customer-reviews-slider{
        position: relative;
        margin-top: 50px;
        .block-title{
            color:@greenColor2;
            border-bottom: 1px solid #ccc;
            padding-bottom: 20px;
            strong{
                font-weight: 500;
                font-size: 22px;
            }
        }
        .review-details{
            margin-bottom:18px;
            .review-author{
                font-size: 18px;
                color: #7fba01;
                .review-details-label{
                    color:  @navycolor;
                }
            }
        }
        .review-ratings{
            float:right;
        }
        .owl-controls{
            width: 70px;
            position: absolute;
            top: -48px;
            right: 0;
        }
        .owl-buttons{
            opacity: 1;
            visibility: visible;
        }
    }
    .product-custom-tabs{
        .tabs{
            li{
                display: inline-block;
                width:32.9%;
                a{
                    padding: 15px;
                    background: @navycolor;
                    color: @lightcolor;
                    font-weight: 500;
                    font-size: 15px;
                    display: block;
                    text-align: center;
                    letter-spacing: 0.5px;
                    border-top-right-radius: 5px;
                    border-top-left-radius: 5px;
                    &.active{
                        background: @greenColor2;
                    }
                }
            }
        }
        .tab-content{
            background: @bkggreycolor;
            padding: 20px 20px;
            .tab-panel{display: none;}
            .product-options-wrapper{
                margin-top: 0;
            }
            
        }
        #request-quote{
            .control{
                margin-bottom: 15px;
                padding: 0 8px;
            }
        }
        .qty-notify{
            font-size: 13px;
            margin-top: 15px;
            padding: 10px;
        }
    }
}

/* cart page */
.cart.table-wrapper{
    .cart.items{
        .item-additional-charges{
            .col{
                padding: 10px 0;
                border-top: 1px solid #f5f5f5;
                line-height: normal;
                min-height: 40px;
                font-size:13px;
            }
        }
    }
}