<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var Techies\RequestQuotePayment\Block\Payment\ViewPayment $block */
$short_name = $block->getShortName(); // get short name from cms page

?>
<form class="form contact"
      action="<?= $block->escapeUrl($block->getFormAction()) ?>"
      id="payment-form"
      method="post"
      data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>"
      data-mage-init='{"validation":{}}'>
    <fieldset class="fieldset">
        <legend class="legend"><span><?= $block->escapeHtml(__('General Information')) ?></span></legend>
        <br/>
        <div class="field note no-label"><?= $block->escapeHtml(__('We will contact you.')) ?></div>
        <div class="field name required">
            <label class="label" for="name"><span><?= $block->escapeHtml(__('Name on Card')) ?></span></label>
            <div class="control">
                <input autocomplete="off" placeholder="<?= $block->escapeHtml(__('Name on Card')) ?>" name="cc_owner"
                       id="name"
                       title="<?= $block->escapeHtml(__('Name on Card')) ?>" value="" class="input-text" type="text"
                       data-validate="{required:true,'letters-with-basic-punc':true,'max-words':30}"/>
                <input name="short_name" type="hidden" id="short_name" value="<?= /* @noEscape */ $short_name ?>"/>
            </div>
        </div>


        <div class="field billing_street_address required">
            <label class="label"
                   for="billing_street_address"><span><?= $block->escapeHtml(__('Street Address')) ?></span></label>
            <div class="control">
                <input placeholder="<?= $block->escapeHtml(__('Street Address')) ?>" name="billing_street_address"
                       id="billing_street_address"
                       title="<?= $block->escapeHtml(__('Street Address')) ?>" value="" class="input-text" type="text"
                       data-validate="{required:true}"/>

            </div>
        </div>

        <div class="field billing_city required">
            <label class="label" for="billing_city"><span><?= $block->escapeHtml(__('City')) ?></span></label>
            <div class="control">
                <input placeholder="<?= $block->escapeHtml(__('City')) ?>" name="billing_city" id="billing_city"
                       title="<?= $block->escapeHtml(__('City')) ?>" value=""
                       class="input-text" type="text"
                       data-validate="{required:true,'letters-with-basic-punc':true,'max-words':30}"/>
            </div>
        </div>

        <div class="field billing_state required">
            <label class="label" for="billing_state"><span><?= $block->escapeHtml(__('State')) ?></span></label>
            <div class="control">
                <select name="billing_state" id="billing_state"
                        data-validate="{required:true}" class="input-text">
                    <option value=""> <?= $block->escapeHtml(__('State')) ?></option>
                    <?php
                    $regions = $block->regions();
                    foreach ($regions as $k => $val) {
                        ?>
                        <option value="<?= $block->escapeHtml($val['value']) ?>">
                            <?= $block->escapeHtml(__($val['label'])) ?>
                        </option>
                    <?php }

                    ?>

                </select>
            </div>
        </div>

        <div class="field billing_zipcode required">
            <label class="label" for="billing_zipcode"><span><?= $block->escapeHtml(__('Zip Code')) ?></span></label>
            <div class="control">
                <input placeholder="<?= $block->escapeHtml(__('Zip Code')) ?>" name="billing_zipcode"
                       id="billing_zipcode" title="<?= $block->escapeHtml(__('Zip Code')) ?>"
                       value="" class="input-text" type="text"
                       data-validate="{required:true,'minlength':5,'alphanumeric':true}"/>
            </div>
        </div>

        <div class="field invoice_number required">
            <label class="label"
                   for="invoice_number"><span><?= $block->escapeHtml(__('Estimate or Invoice Number')) ?></span></label>
            <div class="control">
                <input placeholder="<?= $block->escapeHtml(__('Estimate or Invoice Number')) ?>" name="invoice_number"
                       id="invoice_number"
                       title="<?= $block->escapeHtml(__('Estimate or Invoice Number')) ?>" value="" class="input-text"
                       type="text" data-validate="{required:true,'alphanumeric':true,'max-words':50}"/>
            </div>
        </div>


    </fieldset>

    <fieldset class="fieldset">
        <legend class="legend"><span><?= $block->escapeHtml(__('Card Details')) ?></span></legend>
        <br/>

        <div class="field amount required">
            <label class="label" for="amount"><span><?= $block->escapeHtml(__('Amount')) ?></span></label>
            <div class="control">
                <input autocomplete="off" name="cc_amount" id="cc_amount"
                       title="<?= $block->escapeHtml(__('Amount')) ?>" placeholder="$.00" value="" class="input-text"
                       type="text"
                       data-validate="{required:true,'validate-currency-dollar':true,'not-negative-amount':true}"/>
            </div>
        </div>

        <div class="field cc_type required">
            <label class="label" for="cc_type"><span><?= $block->escapeHtml(__('Card Type')) ?></span></label>
            <div class="control">
                <select name="cc_type" id="cc_type"
                        data-validate="{required:true,'required-number':true}" class="input-text">
                    <option value=""> <?= $block->escapeHtml(__('Credit Card Type')) ?></option>
                    <option value="AE"><?= $block->escapeHtml(__('American Express')) ?></option>
                    <option value="VI"><?= $block->escapeHtml(__('Visa')) ?></option>
                    <option value="MC"><?= $block->escapeHtml(__('MasterCard')) ?></option>
                    <option value="DI"><?= $block->escapeHtml(__('Discover')) ?></option>
                </select>
            </div>
        </div>

        <div class="field card_number required">
            <label class="label" for="card_number"><span><?= $block->escapeHtml(__('Card Number')) ?></span></label>
            <div class="control">
                <input placeholder="<?= $block->escapeHtml(__('Card Number')) ?>" autocomplete="off" name="cc_number"
                       id="cc_number"
                       title="<?= $block->escapeHtml(__('Card Number')) ?>" value="" class="input-text" type="text"
                       data-validate="{
                       required:true,
                       'required-number':true,
                       'validate-cc-number':'#cc_type',
                       'validate-cc-type':'#cc_type'
                       }"
                />
            </div>
        </div>


        <div class="field cc_exp_month required">
            <label class="label"
                   for="cc_exp_month"><span><?= $block->escapeHtml(__('Expiration Month')) ?></span></label>
            <div class="control">
                <select name="cc_exp_month" id="cc_exp_month"
                        data-validate="{required:true,'required':true,
                        'validate-cc-exp':'#cc_exp_yr'}" class="input-text">
                    <option value=""><?= $block->escapeHtml(__('Month')) ?></option>
                    <option value="01"><?= $block->escapeHtml(__('01 - January')) ?></option>
                    <option value="02"><?= $block->escapeHtml(__('02 - February')) ?></option>
                    <option value="03"><?= $block->escapeHtml(__('03 - March')) ?></option>
                    <option value="04"><?= $block->escapeHtml(__('04 - April')) ?></option>
                    <option value="05"><?= $block->escapeHtml(__('05 - May')) ?></option>
                    <option value="06"><?= $block->escapeHtml(__('06 - June')) ?></option>
                    <option value="07"><?= $block->escapeHtml(__('07 - July')) ?></option>
                    <option value="08"><?= $block->escapeHtml(__('08 - August')) ?></option>
                    <option value="09"><?= $block->escapeHtml(__('09 - September')) ?></option>
                    <option value="10"><?= $block->escapeHtml(__('10 - October')) ?></option>
                    <option value="11"><?= $block->escapeHtml(__('11 - November')) ?></option>
                    <option value="12"><?= $block->escapeHtml(__('12 - December')) ?></option>
                </select>
            </div>
        </div>


        <div class="field cc_exp_year required">
            <label class="label" for="cc_exp_year"><span><?= $block->escapeHtml(__('Expiration Year')) ?></span></label>
            <div class="control">
                <select name="cc_exp_year" id="cc_exp_year" data-validate="{required:true}" class="input-text">
                    <option value=""><?= $block->escapeHtml(__('Year')) ?></option>
                    <?php $years = $block->getYear();
                    foreach ($years as $val) { ?>
                        <option value="<?= /* @noEscape */ $val ?>"><?= /* @noEscape */ $val ?></option>
                    <?php } ?>
                </select>
            </div>
        </div>

        <div class="field cc_cid required">
            <label class="label" for="cc_cid"><span><?= $block->escapeHtml(__('Card Cvv')) ?></span></label>
            <div class="control">
                <input placeholder="<?= $block->escapeHtml(__('Card Cvv')) ?>" autocomplete="off" name="cc_cid"
                       id="cc_cid" title="<?= $block->escapeHtml(__('Card Cvv')) ?>"
                       value="" class="input-text" type="text"
                       data-validate="{
                       required:true,
                       'required-number':true

                       }"
                />
            </div>
        </div>


    </fieldset>


    <div class="actions-toolbar">

        <div class="field subscribe required">
            <label class="label"
                   for="subscribe"><span><?= $block->escapeHtml(__('Printed orders are non-refundable. Cancelled non-printed / blank orders are subject to a 30% restocking fee of the entire order.')) ?></span></label>
            <div class="control">
                <input data-validate="{
                       required:true
                       }" type="checkbox" value="yes" name="subscribe" class="input-text">
            </div>
        </div>
        <br><br>

        <div class="primary">
            <input type="hidden" name="hideit" id="hideit" value=""/>
            <button type="submit" title="<?= $block->escapeHtmlAttr(__('Submit')) ?>" class="action submit primary">
                <span><?= $block->escapeHtml(__('Submit')) ?></span>
            </button>
        </div>
    </div>
</form>
