<?php
/**
 * Techies India Inc. 2020
 */

/** @var \Techies\RequestQuotePayment\Block\Payment\ViewPayment $block */
?>
<?php $payment = $block->getCurrentPayment();?>
<div class="payment-view">
    <div class="payment-cc-owner">
        <strong><?= $block->escapeHtml(__('Name on Card')) ?></strong>:
        <?= $block->escapeHtml($payment->getCcOwner());?>
    </div>
    <?php if ($billingStreetAddress = $payment->getBillingStreetAddress()):?>
        <div class="payment-billing-street-address">
            <strong><?= $block->escapeHtml(__('Street Address')) ?></strong>:
            <?= $block->escapeHtml($billingStreetAddress);?>
        </div>
    <?php endif;?>

    <?php if ($billingCity = $payment->getBillingCity()):?>
        <div class="payment-billing-city">
            <strong><?= $block->escapeHtml(__('City')) ?></strong>:
            <?= $block->escapeHtml($billingCity);?>
        </div>
    <?php endif;?>

    <?php if ($billingState = $payment->getBillingState()):?>
        <div class="payment-billing-state">
            <strong><?= $block->escapeHtml(__('State')) ?></strong>:
            <?= $block->escapeHtml($payment->getAttributeText('billing_state'));?>
        </div>
    <?php endif;?>

    <?php if ($billingZipcode = $payment->getBillingZipcode()):?>
        <div class="payment-billing-zipcode">
            <strong><?= $block->escapeHtml(__('Zip Code')) ?></strong>:
            <?= $block->escapeHtml($billingZipcode);?>
        </div>
    <?php endif;?>

    <?php if ($invoiceNumber = $payment->getInvoiceNumber()):?>
        <div class="payment-invoice-number">
            <strong><?= $block->escapeHtml(__('Estimate or Invoice Number')) ?></strong>:
            <?= $block->escapeHtml($invoiceNumber);?>
        </div>
    <?php endif;?>

    <?php if ($ccAmount = $payment->getCcAmount()):?>
        <div class="payment-cc-amount">
            <strong><?= $block->escapeHtml(__('Amount')) ?></strong>:
            <?= $block->escapeHtml($ccAmount);?>
        </div>
    <?php endif;?>

    <?php if ($subscribe = $payment->getSubscribe()):?>
        <div class="payment-subscribe">
            <strong><?= $block->escapeHtml(__('subscribe')) ?></strong>:
            <?= $block->escapeHtml($payment->getAttributeText('subscribe'));?>
        </div>
    <?php endif;?>

</div>
